<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href=".../stylesheets/style.css" rel="stylesheet">
    <title><%= @title %></title>
</head>
<body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
