<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <input type="text" name="email" value="email" id="email">
  <input type="text" name="password" value="password" id="password">
  <input type="submit" name="Log In" value="Log In" id="Log In">

</form>
