<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <input type="text" name="email">Email</input>
  <input type="text" name="password">Password</input>
  <button id="submit" type="submit" value="Log In">Submit</button>
</form>
