<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LogIn</title>
</head>
<body>
  <h1>log in below:</h1>
  <form action="/sessions" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Log In">
  </form>
</body>
</html>

