<h1>Log In Below:</h1>

<form action="/sessions" method="post">

  <label>email: </label>
  <input name="email" type="text"></input>
  <br>

  <label>password: </label>
  <input name="password" type="text"></input>
  <br>

  <input type="submit" value="Log In"></input>
</form>
