<h1>Log In Below:</h1>
<form action="/sessions" method="post">
	<p>Name: <label for="email"><input type="text" name="email" id="email"></label></p>
	<p>Password: <label for="password"><input type="text" name="password" id="password"></label></p>
	<p><input type="submit" id="Log In" value="Log In"></p>
</form>

