<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <!-- <button type="submit">submit</button> -->
  <button type="submit" value="Log In">Log In</button>
</form>
