<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
    Email: <input type="text" name="email"><br><br>
  Password: <input type="text" name="password"><br><br>
 <button type="submit" value="submit">Log In</button>

</form>
