<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  Email: <input type='text' name='email'>
  Password: <input type='text' name='password'>
  <input type="submit" id="Submit" value="Log In">
</form>
