<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <p><label for="email">Email: </label>
  <input id="email" type="email" name="email" value=""></p>
  <p><label for="password">Password: </label>
  <input id="password" type="password" name="password" value=""></p>
  <button type="submit" name="Log In" value="Log In">Log In
</form>
