<h1>Log In Below:</h1>
<!-- <form class="" action="/sessions" method="post">
  <input type="text" name="email" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Log In">
</form> -->
<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>
