<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>email: <input type="text" name="email"></p>
  <p>password: <input type="password" name="password"></p>
  <br>
  <button type="submit">Log In</button>
  </form>