<h1>Log In Below:</h1>

<form action='/sessions' method="POST">
  <label for="email">Email address:</label>
  <input id="email" type="text" value="email" name="email"><br>
  <label for="password">Alohomora:</label>
  <input id="password" type="text" value="password" name="password"><br>
  <input type="submit" value="Log In"/>
</form>
