<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <p>
    email: <input id="email" type="text" name="email">
  </p>
  <p>
    password: <input id="password" type="text" name="password">
  </p>
  <input type="submit" name="submit" value="Log In" id="submit">
</form>
