<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <textarea name="email">Email: </textarea>
  <textarea name="password">Password: </textarea>
  <br>
  <button type="submit" value="submit">Log In</button>
</form>
