<h1>Log In Below:</h1>

<form method="POST" action='/sessions'>

  <h2>Email: <input type="text" name="email"></h2><br>
  <h2>Password: <input type="text" name="password"></h2><br>
  <input type="submit" id="submit" value="Log In" name="submit">
</form>
