<h1>Log In Below:</h1>

<form class="" action="/sessions" method="post">
  <input type="text" name="email" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="Log In" value="Log In">
</form>
