<form method="post" action="/sessions">
  <h1>Please enter your email and password</h1>
          <p>Email:<input type="text" name="email"></p>
          <p>Password:<input type="text" name="password"></p>
      <input type="submit" value="Log In">
</form>
