<h1>Log In Below:</h1>

<form class="" action="/sessions" method="POST">
  <p><label for="email">Email: </label><input type="text" name="email"></p>
  <p><label for="password">Password: </label><input type="password" name="password"></p>
  <input type="submit" id="Log In" value="Log In">
</form>
