<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label for="email_field">Email: </label>
  <input type="text" id="email_field" name="email">
  <br>
  <label for="password">Password: </label>
  <input type="text" id="password" name="password">
  <br>
  <input type="submit" value="Log In">
  
</form>
