<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <p>Email: <input type="text" name="email" value="email"></p>
  <p>Password: <input type="text" name="password" value="password"></p>
  <input type="submit" name="" value="Log In">
</form>
