<h1>Log In Below:</h1>

<form action="/sessions" method="POST">

	Email: <label for="email"><input type="text" id="email" name="email"></label>
	Password: <label for="password"><input type="password" id="password" name="password"></label>
	<input type="submit" value="Log In">

</form>
