<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p><label for="email">Email:</label>
  <input type="text" name="email" id="email"></p>
  <p><label for="password">Password:</label>
  <input type="text" name="password" id="password"></p>
  <input type="submit" name="submit" value="Log In">

</form>
