<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <label>Email</label>
  <input type="text" name="email">
  <label>Password</label>
  <input type="text" name="password">
  <button type="submit" value="submit">Log In</button>
</form>
