<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <p>Email:</p>
  <input type="text" name="email">
  <br>
  <p>Password:</p>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Log In">
</form>
