<h1>Log In Below:</h1>
<form action='/sessions' method='post'>
  Email: <input type="text" id="email" name="email">
  Password: <input type="text" id="password" name="password">
  <input type="submit" value="Log In">
</form>
