<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <label for="email">Email address:</label>
  <input type="text" id="email" name="email"><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Log In" id="Log In">
</form>
