<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <p>email: <input id ="email" type="text" name="email"></p>
    <p>password: <input id ="password" type="text" name="password"></p>
    <p><button type="submit" value="submit">Log In </button></p>
</form>
