<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Log In</title>
 </head>
 <body>

  <h1>Log In Below:</h1>

  <form action="/sessions" method="post">
    Email: <br><input type="text" name="email" size="50" ></input><br><br>
    Password: <br><input type="password" name="password" size="50" ></input><br><br>
    <input type="submit" value="Log In">
  </form>
  </body>
</html>
