<h1>log in below:</h1>
 	 
<form method="POST" action="/sessions/login">
  Email: <input type="text" name="email" placeholder="jon@example.com"> 
  Password: <input type="password" name="password"> 
  <input type="submit" value="Log In">
</form>
