<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h1>Log In Below:</h1>

  <form method="POST" action="/sessions">
    <label for="email">Your Email: </label>
    <input id="email" type="text" name="email">
    <br>
    <label for="password">Your Password: </label>
    <input id="password" type="text" name="password">
    <br>
    <button type="submit" value="Log In">Log In</button>

  </form>
</body>

</html>
