<h1>Log In Below:</h1>

<form method="POST" action='/sessions'>

  <label>Email:</label><br>
  <input type="text" input name="email"><br>
  <label>Password:</label><br>
  <input type="password" input name="password">

  <input type="submit" value="Log In">
</form>
