<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>Email: <input type="email" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <p><input type="submit" id="submit" value="Log In"></p>
</form>
