<h1>Log In Below:</h1>
<form action="/sessions" method="post">
    Email: <input type="text" name="email" value= "email">
    Password: <input type="text" name="password" value= "password">
    <input type="submit" id="Log In">
</form>
