<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  Email: <input id="email" name="email" type="string">
  Password: <input id="password" name="password" type="string">
  <input id="submit" name="submit" type="submit" value="Log In">
</form>
