<h1>Log In Below:</h1>

<form action="/sessions" method="post">

  <label for="email">EMAIL:</label>
  <input id="email" type="text" name="email">

  <label for="password">PASSWORD:</label>
  <input id="password" type="text" name="password">

  <button> Log In </button> 

</form>
