<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    <p><label for "email">E-mail:</label>
    <input type="text" name="email"></p>
    <p><label for "password">Password:</label>
    <input type="text" name="password"></p>
    <input type="submit" id="button" value="Log In">
</form>