<h1>Log In Below:</h1>
<form method="post" action="/sessions">
	<label>Email:<input type="text" name="email"></label>
	<label>Password:<input type="text" name="password"></label>
	<input type="submit" value="Submit" id="Log In">
</form>
