<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <input type="text" name="email" id="email">
  <input type="text" name="password" id="password">
  <input type="submit" name="" id="Log In">

</form>
