<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <ul>
    <li>Email: <input type="text" name="email"></li>
    <li>Password: <input type="text" name="password"></li>
  </ul>
  <input type="submit" value="Log In">
</form>