<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p><label for="name">Name:</label>
    <input type="text" name="name" id="name"></p>
  <p><label for="email">Email:</label>
    <input type="text" name="email" id="email"></p>
  <p><label for="password">Password:</label>
    <input type="text" name="password" id="password"></p>
  <button type="submit" value="submit">Log In</button>
</form>
