<h1>Log In Below:</h1>


<form method="post" action="/sessions">
  <p>Email:</p>
  <textarea id="email" name="email"></textarea><br>
  <p>Password</p>
  <textarea id="password" name="password"></textarea><br>

  <button type="submit" value="Log In">Submit</button>

</form>

