<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p><label>Email: <input type="text" name="email"</label></p>
  <p><label>Password: <input type="text" name="password"</label></p>
  <p><button type="submit" value="submit">Log In</button>
</form>
