<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p><label>Email: <input type="text" name="email"></label></p>
  <p><label>Password: <input type="text" name="password"></label></p>
 <input type="submit" value="Log In" id="submit"/>
</form>
