<h1>Log In below:</h1>
<form action="/sessions" method="post">
  <input type="text" name="email" id="email">
  <input type="text" name="password" id="password">
  <input type="submit" value="Log In" id='submit'>
</form>

