<h1>log in below:</h1>
<form method='post' action='/sessions'>
	<p>Email:<input id='email' type='text' name='email'></p>
	<p>Password:<input id='password' type='text' name='password'></p>
	<input type='submit' id='Log In'>
</form>

