<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <h3>Email: <input id="email" name="email" type="email"></h3>
  <h3>Password: <input id="password" name="password" type="password"></h3>
  <input type="submit" value="Log In">
</form>
