<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
<h4>Email: <input type="text" name="email"></h4>
<h4>Password: <input type="text" name="password"></h4>

<input type="submit" value="Log In">
</form>