<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    Email: <input type="email" id="email" name="email">
    Password: <input type="password" id="password" name="password">
 <input type="submit" id="Log In" value="Log In">
</form>