<!-- The form on this page sends a POST request that is handled by the post '/sessions' route. -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/sessions" method="post">
      <h1>Log In Below:</h1>
      <label for="email"></label>
      <input type="text" name="email" value=""><br>
      <label for="password"></label>
      <input type="text" name="password" value="">
      <input type="submit" name="submit" value="Log In">
    </form>
  </body>
</html>
