<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <ul>
    <li>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" />
    </li>
    <li>
      <label for="password">Password</label>
      <input id="password" type=password name="password" />
    </li>
  </ul>
  <input type="submit" id="Log In" />
</form>
