<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
<p>Username (email address): <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>
<p><button type="submit" value="Log In">Log In</p>
</form>
