<form action='/sessions' method="POST">
<h1>Log In Below:</h1>

<label for="email">email</label>
<input  type="text" name="email" /><br>


<label for="password">password</label>
<input  type="text" name="password" /><br>





<input type="submit" value="Log In">


</form>
