<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <li>Email:<input type="text" name="email"></li><br>
  <li>Password:<input type="text" name="password"></li>
   <input type="submit" value="Log In">
 </form>
