<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <label>Login to Hogwarts:</label><br><br>
    <input type="text" name="email" value="Email"><br>
    <input type="text" name="password" value="Password"><br><br>
  <button type="submit" value="submit">Log In</button>
</form>
