<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
    <label>email</label>
    <input type="text" name="email">
    <label>password</label>
    <input type="password" name="password">
    <input type="submit"  value="Log In">
</form>

