<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p><input type="text" name="email" value=""></p>
  <p><input type="text" name="password" value=""></p>
  <input type="submit" name="log in" value="Log In">
</form>
