<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <h2>Email: <input type="text" name="email"></h2>
  <h2>Password: <input type="text" name="password"></h2>
  <input type="submit" value="Log In">
</form>
