<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  Name: <input type="text" name="name" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" name="" value="Log In">
</form>
