<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p>Email: <input type="text" id="email" name="email"></p>
  <p>Password: <input type="text" id="password" name="password"></p>
  <p><button name="log in" type="submit" value="Log In">Log In</button>Log In</p>
</form>