<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label> Email:</label> <br>
  <label> Password:</label> <br>

  <input type="password" name="passowrd">Log In</input>
  <input type="submit" value="Log In">Log In</input>
   <!-- <%=@user.name%>
    <%=@user.email%>
    <%=@user.password%> -->
</form>
