<h1>Log In Below:</h1>

<form method='POST' action='/sessions'>
  <label for="email">Email Address: </label>
  <input type="text" name="email">
  <label for="password">Password: </label>
  <input type="text" name="password">
  <input type="submit" value="Log In">
</form>
