<h1>Log In Below:</h1>

<form class="log_in" action="/sessions" method="post">
  <li>Email: <input type="text" id="email" name="email"></li>
  <li>Password: <input type="password" id="password" name="password"></li>
  <input type="submit" value="Log In">
</form>
