<h1>Log In Below:</h1>

<form type='post' action='/sessions'>
  <p> Email: <input type="text" name="email"> </p>
  <p> Password: <input type="text" name="password"> </p>
  <button>Log In</button>
</form>