<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <h2><label for="email">Your E-Mail:</label></h2>
  <input id="email" type="text" name="email"/>

  <h2><label for="password">Your Password:</label></h2>
  <input id="password" type="password" name="password"/><br><br>

  <input id="login" type="submit" value="Log In">
</form>
