<h1>Log In Below:</h1>

<form action="/sessions" method="POST">

<label>Email:
<input type="text" name="email">
</label>

<label>Password:
<input type="text" name="password">
</label>

<input type="submit" value="Log In">

</form>