<h1>Log In Below:</h1>

<form action='/sessions' method="POST">
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br>
  <Button><input type="submit" value="Log In"></button>
</form>
