<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
  </div>
  
  <div>
    <input type="submit" name="login" value="submit">
  </div>
</form>
