<h1>log in below:</h1>
 <form method="post" action="/sessions">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Log In">
</form>
