<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label>Email: <input type="email" name="email"></label><br>
  <label>Password: <input type="password" name="password"></label><br>
  <input type=submit value="Log In">
</form>
