<h1>Log In Below:</h1>
<form action='/sessions' method="POST">
  <h4>E-mail:<input type='text' name='email' id='email'></h4>
  <h4>Password:<input type='text' name='password' id='password'></h4>
  <input type='submit' value='Log In'>
</form>


