<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
	Email: <input type="text" name="email">
	Password: <input type="text" name="password">

	<button type="submit">Log In</button>
</form>

