<h1>Log In Below:</h1>
<form action='/sessions' method='post'>
  <p>email: <input type='text' name='email'></input></p>
  <p>password: <input type='text' name='password'></input></p>
  <button type='submit' value='login'>Log In</button>
</form>

