<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
  <input type="submit" value="Log In" name="submit">
</form>
