<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label for="user_email">Enter Your Email:</label>
  <input id="user_email" type="text" name="email"><br>
  <label for="user_password">Enter a Password:</label>
  <input id="user_password" type="text" name="password"><br>
  <input type="submit" value="Log In">

</form>
