<h1>Welcome Back! Please Log In Below:</h1>

<form action="/sessions" method="POST">


<h2>Enter Your Email:<input type="text" name="email"></h2>

<h2>Enter Your Password:<input type="text" name="password"></h2>

<button type="submit" value="Log In">Log In</button>

</form>

