<form method="post" action="/sessions">
  <label for="email"> Email: <input type="text" name="email"></label>
  <label for="password"> Password: <input type="text" name="password"></label>
  <input type="submit" value="Log In" id="submit">
</form>

