<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <h4><label for="email">Email:</label> <input id="email" type="text" name="email" /></h4>
  <h4><label for="password">Password:</label> <input id="password" type="text" name="password" /></h4>
  <button id="submit" type="submit">Log In</button>
</form>
