

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Log-In page</title>
  </head>
  <body>
    <h1>Log In Below:</h1>

   <form action="/sessions" method="POST">
      <p>Email: <input id="login_email" input type="text" name="email"</p>
      <p>Password: <input id="login_password" input type="text" name="password"</p>
      <br><br>
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
