<h1>Log In Below:</h1>
<form class="login" action="/sessions/login" method="post">
  Name:<input type="text" name="name" value=""> <br><br>
  Email:<input type="text" name="email" value=""><br><br>
  Password:<input type="text" name="password" value=""><br><br>
  <input type="submit" name="" value="Login">
</form>

