<h1>Log In Below:</h1>
<form action="/sessions" method="post">
<p>Email:<input id="email" type="email" name="email"></p>
<p>Password:<input type="text" name="password"></p>
  <button id="Log In" type="submit">Log In</button>
</form>
