<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label for="email">Email:</label>
  <input id="email" type="text" name="email">
  <p></p>
  <label for="password">Password:</label>
  <input id="password" type="text" name="password">
  <p></p>
  <input id="Log In" type="submit" value="Log In">
</form>
