<h1>Log In Below:</h1>

<form action='/sessions' method="post">

  <label for="email">email</label>
  <input type="text" name="email">

  <label for="password">password</label>
  <input type="password" name="password">

  <button type="submit" value="Log in" name="Log in">Log In</button>
</form>
