<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Email: <input type="email" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" name="" value="Log In">
</form>
