<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <p>Please enter your email: <input type="text" name="email"></p>
  <p>Please enter your password: <input type="text" name="password"></p>
  <input type="submit" value="Log In">
</form>
