<h1>Log In Below:</h1>

<form action='/sessions' method="POST">
  <label for="user_email">Email:</label><br>
  <input id="user_email" type="text" name="email"><br>
  <label for="user_password">Password:</label><br>
  <input id="user_password" type="password" name="password"><br>
  <input type="submit" value="Log In">
</form>
