<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <p>Email: </p>
  <input type="text" name="email">
  <p>Password: </p>
  <input type="text" name="password">
  <input type="submit" value="Log In">
</form>
