<h1>Log In Below:</h1>


<form action="/sessions" method="post">
    Please enter your email address:
      <input type="text" name="email" id="email">
    Please enter your password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Log In" id="submit">
</form>
