<h1>Log In Below:</h1>

<form class="" action="/sessions" method="POST">
  <label for="user_email">Email:</label>
  <input type="text" name="email" id="user_email"><br>
  <label for="user_pass">Password:</label>
  <input type="text" name="password" id="user_pass"><br>
  <input type="submit" name="" value="Log In">
</form>
