<h1>Log In Below:</h1>
<p>
  <form action="/sessions" method="post">
    <input type="text" size="35" name="email"    placeholder="Enter email"/><br>
    <input type="text" size="35" name="password" placeholder="Enter password"/><br>
    <input type="submit" value="Log In"/>
  </form>
</p>
