<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <!-- Name: <input id="name" type="text" name="name"><br> -->
  Email: <input id="email" type="text" name="email"><br>
  Password: <input id="password" type="text" name="password"><br>
  <input type="submit" id="submit" value="Log In">
</form>
