<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label for id="email">Email:</label>
    <input type="text" id="email" name="email">

  <label for id="password">Password:</label>
    <input type="text" id="password" name="password">

    <input type="submit" value="Log In">
</form>
