<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
    <label for="email">Email: </label><input type="text" name="users[email]" id="email" />
    <br>
    <label for="password">Password: </label><input type="text" name="users[password]" id="password" />
    <br>
    <input type="submit" id="submit" value="Log In"/>
</form>