<h1>Log In Below:</h1>

<form action="/posts" method="post">
  Email: </label><input type="text" id="email" name="email"><br>
  Password: </label><input type="text" id="password" name="passwordl"><br>
  <input type="submit" id="Log In">
</form>
