<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <label for="email">email:</label>
  <input type="text" name="email" value="">
  <label for="password">password</label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">Log In</button>
</form>
