<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label for="email">Email: </label>
  <input name="email" type="text"><br>
  <label for="password">Password: </label>
  <input name="password" type="text"><br>
  <input type="submit" value="Log In">
</form>
