<h1>Log In Below:</h1>

<form action="/sessions" method="POST">

  <div class="login">
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email" name="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">
    <button type="submit">Log In</button>
  </div>
  
</form>
