<h1>Log In Below:</h1>

<form action="/sessions" method="post">
   Email: <br><input type="text" name="email"><br>
   Password: <br><input type="text" name="password"><br>
   <br><button type="submit" value="Log In">Log In</button>
</form>
