<!DOCTYPE HTML>
<html>
<head>
  <title>Log in</title>
</head>
<body>
  <h1>Log In below:</h1>
  <br>
  <form method = "post" name="login" action="/sessions">
    <h3>E-mail</h3>
    <input type = "text" name ="email" value="E-mail">
    <br>
    <h3>Password</h3>
    <input type = "password" name ="password">
    <br>
    <button type = "submit" value = "Log In">Log In</button>
  </form>
</body>
</html>


