<h1>Log In Below:</h1>
<form action='/sessions' method="post">
    <p>User Name: </p><input type="text" name="name">
    <p>User Email: </p><input type="text" name="email">
    <p>User Password: </p><input type="password" name="password">
    <input type="submit" value="Log In">
</form>
