<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" >
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" >
  <button type="submit" class="signupbtn">Log In</button>
</form>