<h1>Log In:</h1>

<form action="/sessions" method="POST">
  Email Address: 
    <input type="text" name="email"><br>
  Your strong and mighty password: 
    <input type="text" name="password"><br><br>
  <button type="submit">Log In</button>
</form>