<h1>Log In Below:</h1>

<form method='post' action='/sessions'>
  Email:<input type='text' name='email' id='email'>
  Password:<input type='text' name='password' id='password'>
  <input type='submit' value='Log In'>
</form>
