<h1>Log In Below:</h1>
<form action="/sessions" method="post">
	<p>Enter Your Email: <input type="text" name="email"></p>
	<p>Enter Your Password: <input type="text" name="password"></p>
	<button value="submit">Log In</button>
</form>
