<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<h1>log in below:</h1>

<form action="/sessions" method="POST">
<p>Email: <input type="text" id="email" name="email"></p>
<p>Password: <input type="password" id="password" name="password"></p>
<input type="submit" value = "Log In" id="submit">

</body>

</html>