<h1>Log In Below:</h1>

<form method='POST' action='/sessions'>
  <p><label for='name'>Name:</label></p>
  <input type='text' name='name'>
  <p><label for='email'>Email:</label></p>
  <input type='text' name='email'>
  <p><label for='password'>Password:</label></p>
  <input type='text' name='password'>
  <input type='submit' value='Log In'>
</form>
