<h1>Log In Below:</h1>

<form action='/sessions' method="post" >
  
  <p>email: </p><input type="text" name ="email" id="email"><br>
  
  <p>password: </p><input type="text" name="password" id="password">
  
  <input type="submit" id="Log In">
  
</form>