<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <input value="Log In" type="submit">
</form>
