<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <input type="text" name="email" value="email"><br>
  <input type="text" name="password" value="password"><br>
  <input type="submit" id="Log In" value="Log in">


</form>
