<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <label for="email">email</label>
  <br />
  <input type="text" name="email"/>
  <br />
  <label for="password">password</label>
  <br />
  <input type="password" name="password"/>
  <br />
  <input type="submit" value="Log In" />
</form>
