<h1>log in below:</h1>
<form method="POST" action="/sessions">
  <p><label for="email">Email: </label><input type="text" name="email"></p>
  <p><label for="password">Password: </label><input type="password" name="password"></p>
  <p><input type="submit" value="Log In"></p>
</form>

