<h1>Log In Below:</h1>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up Form</title>
  </head>
  <body>

    <form action="/sessions" method="post">
  	  Email: <input type="text" name="email"><br><br>
  	  Password: <input type="text" name="password"><br><br>
	  <input type="submit" value="Log In">
	 </form>

  </body>
</html>
