<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  <h2>Enter Email here: <input type="text" name="email"></h2><br>
  <h2>Enter Password here: <input type="text" name="password"></h2><br>
  <input type="submit" value="Log In">
</form>
