<DOCTYPE! html>
<head>

</head>

<body>

  <h1>Log In Below:</h1>

  <form action="/sessions" method="post">
    <label>Email: </label><input type="text" name="email"><br>
    <label>Password: </label><input type="text" name="password"><br>

    <button type="submit" value="submit">Log In</button>
    <!-- <input type="Submit" name="Submit"> -->
  </form>
</body>

</html>
