<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  <p>
    Email Address: <input type="text" name="email" id="email" />
  </p>
  <p>
    Password: <input type="text" name="password" id="password" />
  </p>
  <input type="submit" value="Log In" id="sign-in" />
</form>
