<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <input id="user[email]" type="text" value="email" name="email">
  <input id="user[password]" type="text" value="password" name="password">
  <br>
  <button type="submit" value="Log In">Submit</button>
</form>
