<!DOCTYPE <html>
<head>
  <title>Login:</title>
</head>
<body>
  <h1>Log In</h1>

  <form action="/sessions" method="post">
    <h2>Name:<input type="text" name="name"></h2>
    <h2>Email:<input type="text" name="email"></h2> </h2>
    <h2>Password:<input type="text" name="password"></h2></h2>
    <button type="submit" name="submit">Log In</button>
  </form>

</body>
</html>