<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>Email    :<input type="text" name="email" value="email"></p>
  <p>password :<input type="text" name="password" value="password"></p>
  <input type="submit" value="Log In">
</form>
