<h1>Log In Below:</h1>

<form method = "post" action = "/sessions">
  <h3>Email: <input id = "email" type = "text" name = "email"></input></h3><br>
  <h3>Password: <input id = "password" type = "text" name = "password"></input></h3><br>
  <input type = "submit" name = "Log In" value = "Log In">
</form>
