# TODO: Add a message for if the user enters the wrong login information and needs to try 
# again. Example: "The username and password you entered did not match our records. Please 
# double-check and try again."

<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label for="email">Email: </label><input id="email" type="text" name="email"><br>
  <label for="password">Password: </label><input id="password" type="text" name="password"><br><br>
  <input id="submit" type="submit" value="Log In">
</form>