<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label name='email' id='email'>Email: </label><input type="text" name="email" id="email" />
  <label name='password' id='password'>Password: </label><input type="text" name="password" id="password" />
  <input type="submit" name="Log In" id= "Log In" />
</form>
