<h1>log in below:</h1>

<form method="POST" action="/sessions">
  <h2> Email: <input type="string" name="email"> </h2>
  <h2> Password: <input type="string" name="password"> </h2>
  <input type="submit" value="Log In">
</form>
