<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
<label>Your name: <input type="text" name="name"></label>
<label>Your email: <input type="text" name="email"></label>
<label>Your password: <input type="text" name="password"></label>
<button type="submit" name="Log In">Log In</button>
</form>
