<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
   <label for="email">Email: </label>
   <input id="email" name="email" type="text"><br>
   <label for="password">Password: </label>
   <input id="password" name="password" type="password"><br>
   <input value="Log In" name="submit" type="submit">
 </form>
