<h1>Log In Below:</h1>
<form action="/sessions" method="post">

  Enter Email: <input type="email" name="email"><br>
  Enter Password: <input type="password" name="password"><br>
  <input type="submit" id="submit" value="Log In">

</form>
