<h1>Log In below:</h1>
<form action="/sessions" method="post">
  <div>
    <label for="email">Email: </label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="text" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
