<!DOCTYPE html>
<html>
  <head>
    <title>Sign-Up</title>
  </head>
  <body>
  <h1>Log In Below:</h1>
  <form method="POST" action="/sessions">
    <label for="email">Email: </label><input type="text" name="email" id="email">
    <label>Password: </label><input type="text" name="password" id="password">
    <button type="submit" value="submit">Log In</button>
  </form>
  </body>
</html>
