<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <input type="password" name="password" value="password">
  <input type="email" name="email" value="email">
  <input type="submit" value="Log In">
  
</form>
