<h1>Log In Below:</h1>

<form method='post' action='/sessions'>

    <h1>Email:</h1><input type="text" label="email" name="email"/><br>
    <h1>Password:</h1><input type="text" label="password" name="password"><br>
    <input type="submit" value="Log In">

</form>
