<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>  
    <h1>Log In Below:</h1>
    <form method="post" action="/sessions">
      <label for="name">Email</label>
        <input type="text" id="email" name="email"/>
      <label for="name">Password</label>
        <input type="password" id="password" name="password"/>
      <input type="submit" value="Log In"/>
    </form>
  </body>
</html>



