<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <!--<input type="text" name="email" value="email" id="email">-->
  <!--<input type="text" name="password" value="password" id="email">-->
  <!--<input type="submit" name="log_in" value="log_in">-->
  
  <label for="email">Email:    </label> 
  <input type='text' value='email' name="email" id="email"><br>
  <label for="password">Password: </label> 
  <input type='text' value='password' id="password" name="password"><br>
  <br>
  <input type='submit' value='Log In'>
</form>



