<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" /><br />
  <label for="password">Password:</label>
  <input type="text" name="password" id="password" />
  <button type="submit" value="submit" id="submit">Log In</button>
</form>
