<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label>Email:    </label><br><input type="text" name="email"><br><br>
  <label>Password: </label><br><input type="text" name="password"><br><br>
  <input type="submit" value="Log In">
</form>
