<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  email: <input type="text" name="email" value="">
  password: <input type="text" name="password" value="">
  <input type="submit" name="login" value="Log In">
</form>
