<h1>Log In Below:</h1>
<form action="/sessions" method="post">
    <label for="user_email">Enter you email: </label>
    <input type="text" name="email" id="user_email">

    <label for="user_password">Supa secret password: </label>
    <input type="password" name="password" id="user_password">

    <input type="submit" value="Log In">
</form>
