<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <label for="user_email">Email: <input type="text" name="email" id="user_email"></h2>
  <label for="user_password">Password: <input type="text" name="password" id="user_password"></h2>

  <input type="submit" id="submit" value="Log In">
</form>
