<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  Email: <input type="input" name="email" value="">
  Password: <input type="input" name="password" value="">
  <input type="submit" name="Log In" value="Log In">
</form>
