<h1>Log In Below:</h1>
<form action="/sessions" method="POST">

  <label for="email">Your email</label>
  <input type="text" name="email">

  <label for="password">Your password</label>
  <input type="text" name="password">

  <input type="submit" value="Log In">

</form>
