<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>Email: <input id="email" type="text" name="user[email]"></p>
  <p>Password: <input id="password" type="text" name="user[password]"></p>
  <input type="submit" value="Log In">
</form>
