<h1>Log In Below:</h1>

<form action="/sessions" method="POST" >
  <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="email" name="email">
  </div>
  <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
  </div>
  <div class="button">
    <button type="submit">Log In</button>
  </div>
</form>
