<h1>Log In Below:</h1>
<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>
