<h1>Log In below:</h1>

<form method="post" action="/sessions">
	<h3>Email: <textarea name="email"></textarea></h3>
	<h3>Password: <textarea name="password"></textarea></h3>
	<input type="submit" value="Log In">
</form>