<h1>Log In Below:</h1>
<ul style="list-style: none;">
  <form action="/sessions" method="post">
    <li>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </li>
    <input type="submit" name="Log In" value="Log In" id="submit">
  </form>
</ul>
