<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <input id="email" type="text" name="email" placeholder="Email"></input><br><br>
  <input id="password" type="text" name="password" placeholder="Password"></input><br><br>
  <input id="Log In" type="submit"></input>
</form>
