<h1>Log In Below:</h1>
<form action='/sessions' method='POST' >
   Name<input id="name" type="text" name="name" />
    Email<input id="email" type="text" name="email">
     Password<input id="password" type="text" name="password">
     <input type="submit" value="Log In" >
     <input type="submit" value="Log Out" >

</form>



