<h1>Log In Below:</h1>

<form method='POST' action='/sessions'>
  <ul>
    <li>EMAIL: <input type='text' name='email' value='email'></li>
    <li>PASSWORD: <input type='text' name='password' value='password'></li>
    <li><input type='submit' value='Log In'></li>
  </ul>
</form>
