<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label for="email">Email</label>
  <input type="text" name="email" value="email">

  <label for="password">Password</label>
  <input type="text" name="password" value="password">
  <button type="submit" value="login" name="login">Log in</button>
</form>
