<h1>Log In Below:</h1>

<form method="POST" action='/sessions'> 
  <!--email-->
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" required></input>
  
  <!--password-->
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" required></input>
  
  <!--submit-->
  <input type="submit" value="Log In">
</form>

