<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label for="email">Email:</label><br>
  <input name="email" type="email"><br>
  <label for="password">Password:</label><br>
  <input name="password" type="password"><br>
  <p><input id="submit" type="submit" value="Log In"></p>
</form>

