<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>email: <input type="text" name="email" id="email"></p>
  <p>password: <input type="text" name="password" id="password"></p>
  <input type="submit" name="submit" id="Log In">
</form>
