<DOCTYPE! html>
<head>
</head>
  <body>
    <h1>Welcome to Hogwarts</h1>
    <h1>Log In Below:</h1>
      <form action="/sessions" method="POST">
      <h2>Email: </h2>
        <input type="text" name="email">

      <h2>Password: </h2>
        <input type="text" name="password">
      <br>
      <br>    
      <input type="submit" content="Log In" id="Log In">
    </form>   
  </body>
</html> 