<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <tag>Email:<input type="text" name="email"></tag>
  <tag>Password: <input type="password" name="password"></tag>
  <input type="submit" value="Log In">
</form>
