<h1>Log In Below:</h1>
<form method="POST" action"/sessions">
<label>Email: </label>
  <input type="text" name="email">Email</input><br>
  <label>Password: </label>
  <input type="text" name="password">Password</input><br>
  <input type="submit" value="Log In">
</form>
