<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <h3>Email address <input type="text" name="email"></h3>
  <h3>Password: <input type="text" name="password"></h3>
  <input type="submit" value="Log In">
</form>
