<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
    <form method= "post" action="/sessions">
      <h1>Log In Below:</h1>
      <p>Email: <input type="text" id = "name" name= "email"></p>
      <p>Password: <input type="text" id= "password" name= "password"></p>
      <a href="/sessions/login"><input type="submit" id="LogIn" value="Log In"></a>
    </form>
  <body>
</html>
