<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label for="login_email">Email:</label>
  <input type="text" id="login_email" name="email"><br><br>
  <label for="login_password">Password:</label>
  <input type="text" id="login_password" name="password"><br><br>
  <input type="submit" id="submit" value="Log In">
</form>
