<h1>Log In Below:</h1>

<form class="login" action="/sessions" method="post">
  <label for="email">Email: </label> <input type="email" name="email" id="email"><br>
  <label for="password">Password: </label> <input type="password" name="password" value="" id="password"><br>
  <input type="submit" name="" value="Log In">
</form>
