<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <label for="email">User Email:</label>
  <input id="email" type="text" name="email">
  <label for="password">User Password:</label>
  <input id="password" type="text" name="password">
  <input id="Log In" type="submit">Log In</input>
</form>
