<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Log In Below:</h1>

    <form action="/sessions" method="POST">
      <label for="email">Email:</label><br>
      <input type="text" name="email"><br>
      <label for="password">Password:</label><br>
      <input type="text" name="password"><br>
      <button type="submit" id="button">Log in</button>
    </form>
  </body>
</html>
