<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>E-mail: <input type="text" name="email" value=""> </p>
  <p>Password: <input type="text" name="password" value=""> </p>
  <input type="submit" id="submit" value="Log In">
</form>
