<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <input type="text" id="email" name="email">
  <input type="text" id="password" name="password">
  <input type="submit" id="Log In" name="submit">
</form>
