<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label for="user_email">User email:</label>
  <input id="user_email" name="email" type="text"><br>
  <label for="user_password">Password:</label>
  <input id="user_password" name="password" type="password"><br>
  <input type="submit" value="Log In">
</form>
