<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  <label>Email: </label>
  <input type="text" id="email" name="email"><br>
  <label>Password: </label>
  <input type="text" id="password" name="password"><br>
  <button type="submit" id="Log In">Log In</button>
</form>
