<h1>Log In Below:</h1>

<form action="/sessions" method="POST">

  <label>User Email:</label><br>
  <input type="text" name="email"><br>
  <label>User Password:</label><br>
  <input type="text" name="password"><br>

  <input type="submit" value="Log In"><br>
</form>
