<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  Email: <input type="text" id="email" name="email">
  Password: <input type="text" id="password" name="password">
  <input type="submit" id="Log In" name="Log In" value="Log In">
</form>