<h1>log in below:</h1>


<form action=<%="/sessions"%> method ="post">
    Email: <input type="text" name="email"> <br>
    Password: <input type="text" name="password"><br>
  <button type="submit">Log In</button>
</form>