<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
email: <input type="text" name="email"><br>
password: <input type="password" name="password"><br>
<input type="submit" value="Log In">


