<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="Log In" id="Log In">
</form>
