<h1>Log In Below:</h1>
<form method="post" action="/sessions">
<br>
<label for=user_email>Enter Email:<input type="text" id="user_email" name="email"></label>
<br>
<label for=user_password>Enter Password:<input type="text" id="user_password" name="password"></label>
<br>
<input type="submit" value="Log In">
</form>
