<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
<p>Username (email address): <input type="text" name="user_email"></p>
<p>Password: <input type="text" name="user_password"></p>
<input type="submit" name="" value="submit">
</form>
