<h1>log in below:</h1>

<form method="post" action="/sessions">
email:<input type="text" name="email" id="email"><br>
password:<input type="text" name="password" id="password">
<input type="submit" value="Log In">
</form>