<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <p><label for="email">Email: </label><input type="email" name="email" id="email"></p>
  <p><label for="password">Password: </label><input type="password" name="password" id="password"></p>
  <p><button type="submit">Log In</button></p>
</form>
