<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  email <input type="text" name="email" id="email">
  password <input type="text" name="password" id="password">
  Log In <input type="submit" name="Log In" id="Log In">
</form>
