<h1>Log In Below:</h1>
<form action='/sessions' method='POST'>
<p>Email: <input type= 'text' name='email'></input></p>
<p>Password: <input type='text' name='password'></input></p>
<button type='submit' value='submit'> Log In </button></form>

