<h1>Log In Below:</h1>

<form action='/sessions' method="POST">
  <label>email</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>