<h1>Log In Below:</h1>

<form method="post" action="/sessions">

  <h2>Email: </h2><input type="text" name="email">
  <br><br>
  <h2>Password: </h2><input type="text" name="password">
  <button type="submit" value="login">Log In</button>

</form>
