<h1>log in below:</h1>
Log In
<form method = "post" action = "/sessions">
  Email: <input type = "text" name="email"><br>
  Password: <input type = "text" name="password"><br>
  <input type="submit" value="Log In" name="Log In"> 
</form>

