<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Email: <input type="text" name="email" value="email"><br>
  Password: <input type="text" name="password" value="password"><br>
  <input type="submit" name="" value="Log In">
</form>
