<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <label>Email:<input method="text" name="email"></label>
  <label>Password:<input method="text" name="password"></label>
  <input type="submit" value="Log In">
</form>
