<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
email: <input type="text" name="user[email]"><br>
password: <input type="text" name="user[password]"><br>
<input type="submit" value="submit">


