<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h2>Welcome, <%=@user.name%>!</h2>
    <a href="/sessions/logout">Log Out</a>
  </body>
</html>
