

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hi, <%=@user.name %></title>
  </head>
  <body>
  Welcome, <%=@user.name%>!

<a href="/sessions/logout">Log Out</a>
  </body>
</html>