<!-- * The **`views/users`** sub-directory contains one file, the template for the user's homepage. This page is rendered by the `get '/users/home'` route in the controller. -->

"Welcome, <%=@user.name%>!"

<a href="/sessions/logout">Log Out</a>
