<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your homepage</title>
  </head>
  <body>
    "Welcome, <%=@user.name%>!"
    <a href="/sessions/logout">Log Out</a>
  </body>
</html>
