<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>"Welcome, <%=@user.name%>!"</h2>

    <a href="/sessions/logout">Log Out</a>

  </body>
</html>
