<h1> "Welcome, <%=@user.name%>!" </h1>
<a href="/sessions/logout">Log Out</a>

<!-- <form class="" action="/" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="email" value="">
  <input type="submit" name="submit" value="submit">

</form>
<a href="/sessions/logout">Log Out</a> -->
