"Welcome, <%=@user.name%>!"

<button><input value="submit" id="Log In" ><a href="/sessions/login">Log In</a></button>
<button><input value="submit" id="Log Out" ><a href="/sessions/logout">Log Out</a></button>
