<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
  </div>
  
  <div>
    <input type="submit" name="signup" value="submit">
  </div>
</form>
