<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Email: <input type="text" name="email" value=""></p>
  <p>Password: <input type="text" name="password" value=""></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
