<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
	<p>Name: <label for="name"><input type="text" name="name" id="name"></label></p>
	<p>Email: <label for="email"><input type="text" name="email" id="email"></label></p>
	<p>Password: <label for="password"><input type="text" name="password" id="password"></label></p>
	<p><label for="Sign Up"><input type="submit" id="Sign Up" value="Sign Up"></label></p>
</form>
