<html>
  <body>
<h1>Sign Up below:</h1>


<form method='post' action='/registrations'>
  <li>Name: <input type="text" name="name"></li>
  <li>Email: <input type="text" name="email"></li>
  <li>Password: <input type="text" name="password"></li>
  <input id="Sign Up" type="submit" value="submit">
</form>
  </body>
</html>

