<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <label for="name">Name: </label>
  <input name="name" type="text"><br>
  <label for="email">Email: </label>
  <input name="email" type="text"><br>
  <label for="password">Password: </label>
  <input name="password" type="text"><br>
  <input type="submit" value="Sign Up">
</form>

