<h1>Sign Up Below:</h1>

<form class="user" action="/registrations" method="POST">
  <p>Name: <input type="text" name="name" value="name"></p><br>
  <p>Email: <input type="text" name="email" value="email"></p><br>
  <p>Password: <input type="text" name="password" value="password"></p><br>
  <input type="submit" name="submit" value="Sign Up">
</form>
