<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  Enter name: <input type="text" name="name"><br>
  Enter email: <input type="text" name="email"><br>
  Enter password: <input type="text" name="password"><br>
  <input type="submit" id="submit" value="Sign Up">
</form>
