<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label>name:</label>
  <input type="text" name="name">
  <br>
  <label>email:</label>
  <input type="text" name="email">
  <br>
  <label>password:</label>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Sign Up">
</form>
