<h1>Sign Up below:</h1>
<form method="post" action="/registrations">
  <h1>Please enter your name, email, and password</h1>
          <p>Name:<input type="text" name="name"></p>
          <p>Email:<input type="text" name="email"></p>
          <p>Password:<input type="text" name="password"></p>
      <input type="submit" value="Sign Up">
</form>

