<a href="/">Home</a><br>
<h1>Sign Up Below:</h1>
<form action = '/registrations' method = 'post'>
  <h2>Name: <input type='text' name ="name"></h2>
  <h2>Email: <input type='text' name ="email"></h2>
  <h2>Password: <input type='password' name ="password"></h2>
  <input type = 'submit' value = 'Sign Up' id = 'submit'>
</form>
