<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p>Name: <input id="name" type="text" name="name"</p>
  <p>Email: <input id="email" type="text" name="email"</p>
  <p>Password: <input id="password" type="text" name="password"</p>
  <input type="submit" value="Sign Up">
</form>
