<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<p>Name:<input type="text" name="name"></p>
<p>Email:<input id="email" type="email" name="email"></p>
<p>Password:<input type="text" name="password"></p>
  <button id="Sign Up" type="submit">Sign up</button>
</form>