<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  Your Name:<br>
  <input type="text" name="name" value="Your name here"><br>
  Your Email:<br>
  <input type="text" name="email" value="Your email here"><br>
  Your Password:<br>
  <input type="text" name="password" value="Your password here"><br>
  <input type="submit" value="Sign Up">
</form>


