<h1>sign up below:</h1>

<form method="POST" action="/registrations">
name:<input type="text" name="name" id="name">
email:<input type="text" name="email" id="email">
password:<input type="text" name="password" id="password">
<input type="submit" value="Sign Up">
</form>