<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  Name: <input type="text" name="name" id="name">
  Email: <input type="text" name="email" id="email">
  Password: <input type="text" name="password" id="password">
  <button type="submit" id="submit">Sign Up</button>
</form>
