<h1>Sign Up Below:</h1>
<h1>
<form action="/registrations" method="post">
  Name: <input id="name" type="text" name="name">
  Email: <input id="email" type="text" name="email">
  Password: <input id="password" type="text" name="password" />
  <br>
 
  <input type="submit" value="Sign Up">
</form>
</h1>


