<h1>sign up below:</h1>

<form action="/registrations" method="post">
Name: <input type="text" name="name" placeholder="name">
Email: <input type="text" name="email" placeholder="email">
Password: <input type="password" name="password" placeholder="password">
<input type="submit" value="Sign Up">
</form>
