<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  <label for="name">name</label>
  <input type="text" name="name">

  <label for="email">email</label>
  <input type="text" name="email">

  <label for="password">password</label>
  <input type="password" name="password">

  <input type="submit" name="Sign Up" value="Sign Up">
  <!-- <button type="submit" value="Sign Up" name="Sign Up">Sign Up</button> -->
</form>
