<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label id for="name">Name:</label>
    <input type="text" id="name" name="name">

  <label id for="email">Email:</label>
    <input type="text" id="email" name="email">

  <label id for="password">Password:</label>
    <input type="text" id="password" name="password">

    <input type="submit" value="Sign Up" id="sign up">
</form>