<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <h3>Name: <input type="text" id="name" name="name"></h3>
  <h3>Email: <input type="text" id="email" name="email"></h3>
  <h3>Password: <input type="text" id="password" name="password"></h3>
  <button type="submit" value="Sign-Up" name="Sign Up">Sign Up</button>
</form>


