<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p>User Name:  <input type="text" name="name" id="name" /></p>
  <p>Email Address: <input type="text" name="email" id="email" /></p>
  <p>Password:<input type="text" name="password" id="password" /></p>
  <input type="submit" value="Sign Up" id="submit" />
</form>
