<h1>Sign Up Below:</h1>

<form action='/registrations' method='POST'>
  
  <p>Name:<input type="text" id="name" name="name"></p>
  
  <p>E-mail:<input type="text" id="email" name="email"></p>
  
  <p>Password:<input type="text" id="password" name="password"></p>
 
 <input type="submit" value="Sign Up">

</form>



