<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p><label>Name: </label><input type="text" name="name"></p>
  <p><label>Email: </label><input type="text" name="email"></p>
  <p><label>Password: </label><input type="text" name="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>