<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
