<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <p><label for="">Name</label>
  <input type="text" name="name" value=""></p>

  <p><label for="">Email</label>
  <input type="text" name="email" value=""></p>

  <p><label for="">Password</label>
  <input type="text" name="password" value=""></p>

  <p><input type="submit" name="" value="Sign Up"></p>
</form>
