<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
<label for=user_name>Enter Username:<input type="text" id="user_name" name="name"></label>
<br>
<label for=user_email>Enter Email:<input type="text" id="user_email" name="email"></label>
<br>
<label for=user_password>Enter Password:<input type="text" id="user_password" name="password"></label>
<br>
<input type="submit" value="Sign Up">
</form>
