<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" id="name" name="user[name]">
  </p>
  <p>
    <label for="email">E-mail: </label>
    <input type="text" id="email" name="user[email]">
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="text" id="password" name="user[password]">
  </p>
  <input type="submit" value="Sign Up">
</form>
