<h1>Sign Up Below:</h1>

<form method = "post" action = '/registrations'>
  Name: <input type = "text" name = "name"><br>
  email: <input type = "text" name = "email"><br>
  password: <input type = "text" name = "password">
  <input type = "submit" value = "Sign Up">
</form>
