<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
 <input  type="text" name="name">
 <input  type="text" name="email">
 <input  type="text" name="password">
<input type="submit" value="Sign Up">
</form>


