<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" />
    </li>
    <li>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" />
    </li>
  </ul>
  <input type="submit" id="Sign Up" />
</form>