<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p><label>Name: <input type="text" name="name"></label></p>
  <p><label>Email: <input type="text" name="email"</label></p>
  <p><label>Password: <input type="text" name="password"</label></p>
  <p><button type="submit" value="submit">Sign Up</button>
</form>
