<h1>Sign Up Below:</h1>

<form method= 'post' action= '/registrations'>

    <h1>Name:</h1><input type="text" label="name" name="name"/><br>
    <h1>Email:</h1><input type="text" label="email" name="email"/><br>
    <h1>Password:</h1><input type="text" label="password" name="password"><br>
    <input type="submit" value="Sign Up">

</form>
