<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <h3>Name:</h3><input type="text" name="name">
  <h3>Email:</h3><input type="text" name="email">
  <h3>Password</h3><input type="password" name="password">
  <input type="submit" name="button" value="signup">
</form>
