<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
<p>Name, email, password:</p>
<input name="name"></textarea>
<input name="email"></textarea>
<input name="password"></textarea>
<button type="submit">Sign Up</button>
</form>
