<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
    <input type="text" name="name" value="name">
    <input type="text" name="email" value="email">
    <input type="Password" name="password">
    <input type="submit" value="Sign Up">
</form>
