<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" value="name">
  <label for="email">Email</label>
  <input type="text" name="email" value="email">
  <label for="password">Password</label>
  <input type="text" name="password" value ="password">
  <input type="submit" name="submit" value="Sign Up">
</form>
