<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" id = "name">

  <p><label for="email">Email: </label>
  <input type="text" name="email" id = "email"></p>

  <p><label for="password">Password: </label>
  <input type="text" name="password" id = "password"></p>

  <input type="submit" id="submit" value="Sign Up">
</form>
