<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p> Enter username:<input type="text" name="name"></p>
  <p>Enter password:<input type="password" name="password"></p>
  <p>enter email:<input type="email" name="email">
  <p><input type="submit" value="Sign Up">
</form>
