<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <label for="signup_name">Name: </label>
    <input id="signup_name" type="text" name="name"></input>
    <label for="signup_email">Email: </label>
    <input id="signup_email" type="text" name="email"></input>
    <label for="signup_password">Password: </label>
    <input id="signup_password" type="text" name="password"></input>

    <input type="submit" value="Sign Up"></input>
</form>
