<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <p>Your name:<input type="text" name="name" id="id"></p>
  <p>Your email address:<input type="text" name="email" id="email"></p>
  <p>choose a password:<input type="text" name="password" id="password"></p>
  <input type="submit" name="Sign Up" id="Sign Up">
</form>

