<h1>Sign Up Below:</h1>

<form action= '/registrations" method="post">


<label> Signup: </label>
<input type= "text" name="name">

<label> Email: </label>
<input type="text" name="email">

<label> Password: </label>
<input type="text" name="name">

<input type="submit" name="submit" value=submit"/>

</form>
