<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
 </head>
 <body>

  <h1>Sign Up Below:</h1>

  <form action="/registrations" method="post">
    Name: <br><input type="text" name="name" size="50" ></input><br><br>
    Email: <br><input type="text" name="email" size="50" ></input><br><br>
    Password: <br><input type="text" name="password" size="50" ></input><br><br>
    <input type="submit" value="Sign Up">
  </form>
  </body>
</html>
