<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="email" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Sign Up">
</form>
