<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <label for="name">Yur a wizzard!</label>
  <input id="name" type="text" value="name" name="name">
  <label for="email">Email address:</label>
  <input id="email" type="text" value="email" name="email"><br>
  <label for="password">Alohomora:</label>
  <input id="password" type="text" value="password" name="password"><br>
  <input type="submit" value="Sign Up"/>
</form>
