<h1>Sign Up</h1>

<form action="/registrations" method="POST">
  <p>Name:<input id="name" type="text" name="name"></p>
  <p>Email:<input id="email" type="text" name="email"></p>
  <p>Password:<input id="password" type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>