<h1>Sign Up Below:</h1>

<form action='/registrations' method='POST'>
  <label>Name:</label><input type="text" name="name"/>
  <label>Email:</label><input type="text" name="email"/>
  <label>Password:</label><input type="password" name="password"/>
  <input type="submit" value="Sign Up" />
</form>
