<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <p><label for="name">Name</label></p>
    <input type="text" name="name" id="name">
    <p><label for="email">Email</label></p>
    <input type="text" name="email" id="email">
    <p><label for="password">Password</label></p>
    <input type="text" name="password" id="password">
    <p><input type="submit" value="Sign Up"></p>
    
</form>
