<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="Name">/<br>
  <label for="email">Email Address:</label>
  <input type="email" name="email" value="Email"><br>
  <label for="password">Password:</label>
  <input type="password" name="password" value="Password"><br>
  <input type="submit" name="submit" value="Sign Up">
</form>

<a href="/registrations/signup">Sign Up</a>
<a href="/sessions/login">Log In</a>
