<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <label for="username">Name:</label> <input type="text" name="name" id="name"><br>
  <label for="user_email">Email:</label><input type="text" name="email" id="email"><br>
  <label for="user_password">Password</label><input type="password" name="password" id="password"><br>
  <button type="submit" name="submit" value="Sign Up" id="Sign Up">Sign up</button>
</form>
