<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <p>Name</p><input type="text" name="name" value="">
  <p>Email</p><input type="text" name="email" value="">
  <p>Password</p><input type="password" name="password" value=""><br>
  <input type="submit" value="Sign Up">
</form>
