<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label for="name">Name: </label><input id="name" type="text" name="name"><br>
  <label for="email">Email: </label><input id="email" type="text" name="email"><br>
  <label for="password">Password: </label><input id="password" type="text" name="password"><br><br>
  <input id="submit" type="submit" value="submit">
</form>