<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <p><label for="name">Name: </label>
  <input id ="name" type="name" name="name" value=""></p>
  <p><label for="email">Email: </label>
  <input id ="email" type="email" name="email" value=""></p>
  <p><label for="password">Password: </label>
  <input id ="password" type="password" name="password" value=""></p>
  <p><button type="submit" name="submit" value="Submit">Sign Up</p>
</form>
