<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <ul>
    <li>Name: <input type="text" name="name"></li>
    <li>Email: <input type="text" name="email"></li>
    <li>Password: <input type="text" name="password"></li>
  </ul>
  <input type="submit" value="Sign Up">
</form>

