<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">Name</label><br>
  <input type="text" id = "name" name="user[name]"><br>
  <label for="email">email</label><br>
  <input type-"text" id = "email" name="user[email]"><br>
  <label for="password">password</label><br>
  <input type-"text" id = "password" name="user[password]"><br>
  <%#binding.pry%>
  <input type="submit" Submit</input>
  <%#>Submit</input> instead of value=...%>
</form>
