<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <input type="text" placeholder="Name" name="name"/>
  <input type="text" placeholder="E-mail" name="email"/>
  <input type="text" placeholder="Password" name="password"/>
  <input type="submit" value="Sign Up"/>
</form>
