<h1>Sign Up below:</h1>

<form method="post" action="/registrations">
	<h3>Name: <textarea name="name"></textarea></h3>
	<h3>Email: <textarea name="email"></textarea></h3>
	<h3>Password: <textarea name="password"></textarea></h3>
	<input type="submit" value="Sign Up">
</form>
