<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  Name: <input type="text" id="name" name="name">
  Email: <input type="text" id="email" name="email">
  Password: <input type="text" id="password" name="password">
  <input type="submit" id="Sign Up" name="Sign Up" value="Sign Up">
</form>

