<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <p>
        <input type="text" name="name" />
    </p>

    <p>
        <input type="text" name="email" />
    </p>

    <p>
        <input type="text" name="password" />
    </p>

    <input type="submit" id="submit" value="Sign Up"/>

</form>
