<h1>Sign Up Below:</h1>
  <form action="/registrations" method="post">
    Name: <input id="name" name="name" type="string">
    Email: <input id="email" name="email" type="string">
    Password: <input id="password" name="password" type="string">
    <input id="submit" name="submit" type="submit" value="Sign Up">
  </form>
