<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>Name: <input id="name" type="text" name="user[name]"></p>
  <p>Email: <input id="email" type="text" name="user[email]"></p>
  <p>Password: <input id="password" type="text" name="user[password]"></p>
  <input type="submit" value="Sign Up">
</form>
