<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <input type="text" name="name" id="name">
  <input type="email" name="email" id="email">
  <input type="password" name="password" id="password">

  <input type="submit" id="submit" value="Sign Up">
</form>
