<h1>Sign Up Below:</h1>


<form action="/registrations" method="POST">
  <input type="text" name="name" value="name"><br>
  <input type="text" name="email" value="email"><br>
  <input type="text" name="password" value="password"><br>
  <input type="submit" value="Sign Up" id="submit">

</form>
