<h1>Sign Up Below:</h1>

<form action='/registrations' method="post" >
  
  <p>name: </p><input type="text" name ="name" id="name"><br>
  
  <p>email: </p><input type="text" name ="email" id="email"><br>
  
  <p>password: </p><input type="text" name="password" id="password">
  
  <input type="submit" id="Sign Up">
  
</form>