<h1>Sign Up below:</h1>


<form method="post" action="/sessions">
name:<input type="text" name="name" id="name"><br>
email:<input type="text" name="email" id="email"><br>
password:<input type="text" name="password" id="password">
<input type="submit" value="Sign Up">
</form>