<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="POST">
  <label for="name">Name:</label><input type="text" name="name">
<label for="content">Email:</label><input type="text" name="email">
<label for="content">Password:</label><input type="text" name="password">
<input type="submit" value="Sign Up">

</form>
