<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<p>Email:<input id="email" type="text" name="email"></p>
<p>Name: <input id="name" type="text" name="name"></p>
<p>Password: <input id="password" type="text" name="password"></p>
<p><input type="submit"  value="Sign Up"></p>

</form>
