<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <div class="user-form">
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
  <div class="user-form">
    <label for="email">Email:</label>
    <input type="email" name="email">
  </div>
  <div class="user-form">
      <label for="password">Password:</label>
      <input type="password" name="password">
  </div>
    <div class="user-form">
    <input type="submit" value="Sign Up">
  </div>
</form>
