<h1>Sign Up Below:</h1>

<form method = "post" action = "/registrations">
  <h3>Name: <input id = "name" type = "text" name = "name"></input></h3><br>
  <h3>Email: <input id = "email" type = "text" name = "email"></input></h3><br>
  <h3>Password: <input id = "passoword" type = "text" name = "password"></input></h3><br>
  <input type = "submit" name = "Sign Up" value = "Sign Up">
</form>
