<h1>Sign Up Below:</h1>

<form action= "/registrations" method= "post">
  <input type="text" Name= "name">
  <input type="text" Name= "email">
  <input type="text" Name= "password">
  <input type="submit" value= "Sign Up">
</form>
