<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <input type="text" name="name" placeholder="name" required=""><br />
  <input type="email" name="email" placeholder="email@hogwarts.edu" required=""><br />
  <input type="password" name="password" placeholder="Password" required=""><br />
  <input type="submit" value="Sign Up" />
</form>
