<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  Name: <input id="name" type="text" name="name"><br>
  Email: <input id="email" type="text" name="email"><br>
  Password: <input id="password" type="text" name="password"><br>
  <input type="submit" id="submit" value="Sign Up">
</form>
