<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <label id for = "name">Name:</label>
    <input type="text" name="name" id="name">
  <label id for = "email">Email:</label>
    <input type="text" name="email" id="email">
  <label id for = "password">Password:</label>
    <input type="text" name="password" id="password">
    <input type="submit" value="Sign Up" id="sign up">
</form>

