<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
<input type="text" name="name" placeholder="Name" id="name">
  <input type="text" name="email" placeholder="Email" id="email">
  <input type="password" name="password" placeholder="Password" id="password">
  <input type="submit" value="Sign Up" id="submit">
</form>
