<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">

  <h2>Name: </h2><input type="text" name="name">
  <br><br>
  <h2>Email: </h2><input type="text" name="email">
  <br><br>
  <h2>Password: </h2><input type="text" name="password">
  <button type="submit" value="signup">Sign Up</button>

</form>
