<h1>sign up below:</h1>
<form method="POST" action="/registrations">
  <p><label>Name:   </label><input id="name" type="text" name="name"/></p>
  <p><label>Email:   </label><input  id="email" type="text" name="email"/></p>
  <p><label>Password : </label><input  id="password"  type="text" name="password"/></p>
  <input type="submit" name="submit" value="Sign Up">
</form>


