<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
  <p>Name: <input id="name" type="text" name="name"><br></p>
  <p>Email: <input id="email" type="text" name="email"><br></p>
  <p>Password: <input id="password" type="text" name="password"><br></p>
  <input type="submit" value="Sign Up"/>
</form>
