<h1>sign up below:</h1>

<form method="post" action="/registrations">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="password">
  <button type="submit">Sign Up</button> 

</form>


