<h1>Sign Up Below:</h1>
<form method='post' action='/registrations'>
    Name:<input type='text' name="name" value="" id="name">
    <br>
    Email:<input type='text' name="email" value="" id="email">
    <br>
    Password:<input type='text' name="password" value="" id="password">
    <input type='submit' value='Sign Up'>
</form>
