<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <p><label>Name: <input type="text" name="name"></label></p>
  <p><label>Email: <input type="text" name="email"></label></p>
  <p><label>Password: <input type="text" name="password"></label></p>
  <input type="submit" value="Sign Up">
</form>
