<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
<p>User Name: <input type='text' name='name'></p><br/>
<p>Email Address: <input type='text' name='email'></p><br/>
<p>Password: <input type='text' name='password'></p><br/>
<input type='submit' value='Sign Up'>
</form>
