<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
<h1>Sign Up Below:</h1>
  <form method= "post" action= "/registrations"
    <p>Name: <input type="text" id = "name" name= "name"></p>
    <p>Email: <input type="text" id = "name" name= "email"></p>
    <p>Password: <input type="text" id= "password" name= "password"></p>
    <a href="/registrations/signup"><input type="submit" id="Sign Up" value="Sign Up"></a>
  </body>
</html>
<!---->
