<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>Name:<br><input id="name" type="text" name="name"></p>
  <p>Email:<br><input id="email" type="email" name="email"></p>
  <p>Password:<br><input id="password" type="password" name="password"></p>
  <button type="submit" name="sign_up">Sign Up</button>
</form>
