<h1>Sign Up Below:</h1>

<form method='POST' action='/registrations'>
  <label for="name">Full Name: </label>
  <input type="text" name="name">
  <label for="email">Email Address: </label>
  <input type="text" name="email">
  <label for="password">Password: </label>
  <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>
