<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label>Name: <input type="text" name="name"></label><br>
  <label>Email: <input type="email" name="email"></label><br>
  <label>Password: <input type="password" name="password"></label><br>
  <input type="submit" value="Sign Up">
</form>
