<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p>name: <input type="text" name="name"></p>
  <p>email: <input type="text" name="email"></p>
  <p>password: <input type="text" name="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
