<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>Enter your name: <input type="text" name="name"></p>
  <p>Enter your email address: <input type="text" name="email"></p>
  <p>Please create a password: <input type="text" name="password"></p>
  <input type="submit" id="submit" value="Sign Up">
</form>

