<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="name">Name: <input id="name" type="text" name="name" value=""></label><br>
  <label for="email">Email: <input id="email" type="text" name="email" value=""></label><br>
  <label for="password">Password: <input id="password" type="text" name="password" value=""></label><br>
  <input type="submit" name="Sign Up" value="Sign Up">
</form>
