<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <label for="name"> Username: </label>
  <input type="text" name="name" id="name">
  
  <label for='email'> Email: </label>
  <input type='email' name='email' id='email'>
  
  <label for='password'> Password: </label> 
  <input type='password' name='password' id='password'>
  
  <input type="submit" value="submit">
</form>

