<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
  <br>Name: <input type='text' name='name'>
  <br>Email: <input type='text' name='email'>
  <br>Password: <input type='text' name='password'>
  <br><button>Sign Up:<inupt type='submit' id='submit'></button>
</form>
