<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up Form</title>
  </head>
  <body>
    <h1>Sign Up Below:</h1>

   <form action="/registrations" method="POST">
      <p>Name: <input id="user_name" input type="text" name="name"</p>
      <p>Email: <input id="user_email" input type="text" name="email"</p>
      <p>Password: <input id="user_password" input type="text" name="password"</p>
      <br><br>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
