<h1>Sign Up Below:</h1>

<form action = "/registrations" method = "post">
  <p>Name: <input type = "text" name = "name">
  <p>Email: <input type = "text" name = "email">
  <p>Password: <input type = "text" name = "password"><br>

    <button type = "submit">Sign Up</button>
</form>
