<h1>Sign Up</h1>

<form method="post" action="/registrations">
Name:  <input type="text" name="name" placeholder="name">
Password:  <input type="text" name="password" placeholder="password">
Email:  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Sign Up">
</form>




