<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name">Name</input></br>
  <input type="text" name="email">Email</input></br>
  <input type="text" name="password">Password</input></br>
  <button id="submit" type="submit" value="Sign Up">Log In</button>
</form>
