<h1>Sign up below:</h1>

<form method='post' action='/registrations'>

  <h4>Enter your Name:<input type='text' name='name'></h4>
  <h4>Enter your email:<input type='text' name='email'></h4>
  <h4>Enter your password:<input type='text' name='password'></h4>

  <input type='submit' value='Sign Up'>

</form>



