<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>Name: <input type="text" name="name"></input></p>
  <p>Email: <input type="text" name="email"></input></p>
  <p>Password: <input type="text" name="password"></input></p>
  <p><input type="submit" id="Sign Up"></p>
</form>
