<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <br>
  <input type="submit" value="Submit">
</form>
