<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <input type="text" name="name" value="name" id="name">
  <input type="text" name="email" value="email@email.com" id="email">
  <input type="text" name="password" value="password" id="password">
  <input type="submit" name="" id="Sign Up">

</form>
