<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" value="name" id="name">
  <input type="text" name="email" value="email" id="email">
  <input type="text" name="password" id="password" value="password">
  <input type="submit" name="submit" value="Sign Up">
</form>
