<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="Sign Up" id="Sign Up">
</form>
