<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input id="name" type="text" name="name" value="Name">
  <input id="email" type="text" name="email" value="Email">
  <input id="password" type="text" name="password" value="Password">
  <input id="submit" type="submit" value="Sign Up">
</form>
