<h1>Sign Up Below:</h1>

<form action= "/registrations" method= "POST">
  <label>Name: </label><input name="name" type="text"><br>
  <label>Email: </label><input name="email" type="email"><br>
  <label>Password: </label><input name="password" type="password"><br><br>
  <input type="submit" value="Sign Up"/>
</form>
