<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  Name: <input type="text" name="name">
  Email: <input type="email" name="email" id="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
