<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
<label>Your name: <input type="text" name="name"></label>
<label>Your email: <input type="text" name="email"></label>
<label>Your password: <input type="text" name="password"></label>
<button type="submit" name="Sign Up">Sign Up</button>
</form>


