<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Email: <input type="text" name="email" value=""></p>
  <p>Password: <input type="text" name="password" value=""></p>
  <input type="submit" name="submit" value="Sign Up">
</form>
