<h1>Sign Up Below:</h1>
<form class="text" action="/registrations" method="post">
  <h4>Name: <input type="text" name="name" id='name'></h4>
  <h4>Email: <input type="text" name="email" id = 'email'></h4>
  <h4>Password: <input type="text" name="password" id = 'password' ></h4>

  <input type="submit" value="Sign Up">

</form>
