<h1>Sign Up Below:</h1>

<!-- rendered by get '/registrations/signup' route -->
<!-- posts to the post '/registrations' route -->

<form action="/registrations" method="post">
  <label for="username">Name: </label><input type="text" name="name"><br>
  <label for="user_email">Email: </label><input type="text" name="email"><br>
  <label for="user_password">Password: </label><input type="password" name="password"<br>
  <br>
  <button type="submit" name="button">Sign Up</button>
</form>
