<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <p><label for="name">Name: </label> <input type="text" name="name">
  <p><label for="email">Email: </label> <input type="text" name="email">
  <p><label for="password">Password: </label> <input type="text" name="password">
  <p><input type="submit" value="Sign Up"></p>
</form>
