<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  Name: <input type="text" name="name">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
 <input type="submit" id="Sign Up">
</form>
