<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  Enter Name: <input type="text" name="name"><br>
  Enter Password: <input type="password" name="password"><br>
  Enter Email: <input type="email" name="email"><br>
  <input type="submit" id="submit" value="Sign Up">

</form>
