<h1>Sign Up Below:</h1>
<form action='/registrations' method="post">
    <p>Name: <input type="text" name="name"></h2>
    <p>Email: <input type="text" name="email"></h2>
    <p>Password: <input type="text" name="password">
    <input type="submit" value="Sign Up">
</form>

