<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  Name: <input id="name" type="text" name="name"><br>
  Email: <input id="email" type="text" name="email"><br>
  Password: <input id="password" type="text" name="password"><br>
  <button type="submit" value="Sign Up">Submit</button>
</form>
