<h1>Sign Up Below:</h1>

<!-- Our signup form needs a field for name, email and password. It needs to
POST data to the '/registrations' path,
so your form action should be '/registrations' and your form method should be POST. -->
<form action="/registrations" method="POST">
  <h4><label for="name">Name:</label> <input id="name" type="text" name="name" /></h4>
  <h4><label for="email">Email:</label> <input id="email" type="text" name="email" /></h4>
  <h4><label for="password">Password:</label> <input id="password" type="text" name="password" /></h4>
  <button id="submit" type="submit">Sign Up</button>
</form>
