<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">

  <label>User Name:</label><br>
  <input type="text" name="name"><br>
  <label>User Email:</label><br>
  <input type="text" name="email"><br>
  <label>User Password:</label><br>
  <input type="text" name="password"><br>

  <input type="submit" value="Sign Up"><br>
</form>
