<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
  Name: <input type=text name="params[name]">
  Email: <input type=text name="params[email]">
  Password: <input type=text name="params[password]">
  <input type="submit">
</form>
