<h1>Sign Up Below:</h1>


<form action="/registrations" method="POST">

<p><h2>Enter Your Name:<input type="text" name="name"></h2></p>
<h2>Enter Your Email:<input type="text" name="email"></h2>

<h2>Enter a Password:<input type="text" name="password"></h2>


<button type="submit" value="Sign Up">Sign Up</button>

</form>
