<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <p>Name:</p>
  <input type="text" name="name">
  <br>
  <p>Email:</p>
  <input type="text" name="email">
  <br>
  <p>Password:</p>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Sign Up">
</form>
