<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
<input type="text" name="user[name]">
<input type="password" name="user[password]">
<input type="password" name="user[password-confirmation]">
<input type="submit" value="submit">


