<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  Name:<input type="text" id="name" value="name" name="name">
  email:<input type="text" id="email" value="email" name="email">
  password:<input type="text" id= "password" value="password" name="password">
  <input type="submit" id="Sign Up" value="submit">
</form>
