<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  email: <input type="text" name="email">
  password: <input type="text" name="email">
  <input type="submit" value="submit">
</form>
 