<h1>Sign Up Below:</h1>

<form method= 'POST' action= '/registrations'>
       <label>Name:</label>
       <input type="text"
              name="name"/><br>

        <label>Email:</label>
        <input type="text"
               name="email"/><br>

        <label>Password:</label>
       <input type="text"
              name="password"><br>

  <input type="submit" value="Sign Up">
</form>
