<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    Please enter your name:
      <input type="text" name="name" id="name">
    Please enter your email address:
      <input type="text" name="email" id="email">
    Please enter your password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Sign Up" id="submit">
</form>
