<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
    <% ["name", "email", "password"].each do |field_name| %>
        <div class="labeled_form_field">
            <label for=<%= field_name %>><%= field_name.capitalize %></>
            <input type='text' name=<%= field_name %> id=<%= field_name %> />
        </div>
    <% end %>

    <input type='submit' id='submit' value='Sign Up'/>
</form>
