<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <h3>Name:</h3>
  </br>
  <input type="text" name="name" id="name">
  </br>
  <h3>Email:</h3>
  </br>
  <input type="text" name="email" id="email">
  </br>
  <h3>Password:</h3>
  </br>
  <input type="text" name="password" id="password">
  </br>
  <input type="submit" id="Sign Up" value="Sign Up">
</form>
