<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
   <label for="name">Name: </label><input type="text" id="name" name="name">
   <label for="email">Email: </label><input type="email" id="email" name="email">
   <label for="password">Password: </label><input type="password" id="password" name="password">
   <input type="submit" value="Sign Up">
</form>
