<h1>sign up below:</h1>


<form method="post" action="/registrations">
  <p>Name: <input type="text" id="name" name="name"></p>
  <p>Email: <input type="text" id="email" name="email"></p>
  <p>Password: <input type="text" id="text" name="password"></p>
  <input type="submit" id="submit" value="Sign Up">
</form>
