<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
  </div>

  <input type="submit" name="submit" value="Sign Up">
</form>
