<h1>sign up below:</h1>

<form action='/registrations' method="POST">
  <label>name</label>
  <br/>
  <input type="text" name="name" id="name">
  <br>
  <label>email</label>
  <br>
  <br/>
  <input type="text" name="email" id="email">
  <br/>
  <label>password</label>
  <br>
  <input type="password" name="password" id="password">
  <input type="submit" value="Sign Up">
</form>
