<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">

  <div class="container">
    <label for="name">Username</label>
    <input type="text" placeholder="Enter Username" name="name">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">

    <label for="email">Email</label>
    <input type="text" placeholder="Enter Email" name="email">
    <button type="submit">Sign Up</button>
  </div>

</form>
