<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
<label for="name">Name: </label><input type="text" name="name" value="name">
<label for="email">Email: </label><input type="text" name="email" value="email">
<label for="password">Password: </label><input type="text" name="password" value="">
<input type="submit" name="Sign Up" value="Sign Up">
</form>
