<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
    <input type='text' name='name'>
    <input type='text' name='email'>
    <input type='text' name='password'>
    <button type='submit' id='submit'>Sign Up</button>
</form>


