<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>User Name: <input type="text" name="name"></p>
  <p>User email: <input type="text" name="email"></p>
  <p>User Password: <input type="text" name="password"></p>
  <button type="submit" value="submit">Sign Up</button>
</form>
