<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <input type="text" name="name">
  <br />
  <label for="name">Name: </label>
  <br />
  <br />
  <input type="email" name="email">
  <br />
  <label for="email">Email: </label>
  <br /><br />
  <input type="password" name="password">
  <br />
  <label for="password">Password</label>
  <br />
  <input type="submit" name="submit" value="Sign Up">
  <br />
</form>
