<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
	<label for="name">Name: </label>
	<input type="text" name="signup[name]"id="name"><br>
	
	<label for="email">Email: </label>
	<input type="text" name="signup[email]" id="email"><br>
	
	<label for="password">Password: </label>
	<input type="text" name="signup[password]" id="password"><br>
	
	<input type="submit" id="Sign Up">
</form>

