<h1>Sign Up Below:</h1><br>
<form method="POST" action="/registrations">
  User Name: <input type="text" name="name"><br>
  Password: <input type="text" name="password"><br>
  Email: <input type="text" name="email"><br><br>
  <input type="submit" name="submit" value="Sign Up">
</form>
