<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="user_name">Name: <input type="text" name="name" id="user_name"></label>
  <label for="user_email">Email: <input type="text" name="email" id="user_email"></label>
  <label for="user_password">Password: <input type="text" name="password" id="user_password"></label>

  <input type="submit" id="submit" value="Sign Up">
</form>
