<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" /><br /><br />

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" /><br /><br />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" /><br /><br />

  <input type="submit" name="sign_up" id="sign_up" value="Sign Up"/>
</form>
