<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up Below:</h1>
    <form action="/registrations" method="post">
    <br><lable > Name: <input type="text" name= "name"></lable>
    <br><lable > Email: <input type="text" name= "email"></lable>
    <br><lable > Password: <input type="text" name= "password"></lable>
    <input type="submit" name="submit" value="Sign Up">
    </form>
  </body>
</html>
