<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
	name: <input type="text" name="name">
	email: <input type="email" name="email" id="email" >	
	password: <input type="text" name="password">
	<p><input type="submit" value="Sign Up"></p>
</form>


