<h1>Sign Up Below:</h1>
<form action='/registrations' method="POST">
  <label for="Name">Name:</label>
  <input type="text" name="name"><br><br>
  <label for="email">email:</label>
  <input type="text" name="email"><br><br>
  <label for="password">password:</label>
  <input type="text" name="password"><br><br>

  <input type="submit" value="submit">
</form>
