<h1>Sign Up Below:</h1>

<form action="/registrations" method="post" >
  <h3>Name: <input type="text" name="name"></h3>
  <h3>Email: <input type="text" name="email"</h3>
  <h3>Password: <input type="password" name="password" ></h3>
  <input type="submit" id="Sign Up">
</form


