<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    <label for="name">Name:</label>
    <input type="text" name="name"><br>
    <label for="email">Email:</label>
    <input type="text" name="email"><br>
    <label for="password">Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" id="submit" value="Sign Up">
</form>
