<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  Name: <input type="text" name="name" value="">
  Email: <input type="text" name="email" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" name="" value="Sign Up">
</form>
