<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <label>Register for Hogwarts:</label><br><br>
    <input type="text" name="name" value="Name"><br>
    <input type="text" name="email" value="Email"><br>
    <input type="text" name="password" value="Password"><br><br>
  <button type="submit" value="submit">Sign Up</button>
</form>
