<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" id="name">
  <input type="text" name="email" id="email">
  <input type="password" name="password" id="password">
  Submit: <button type="submit" value="Sign Up">Sign Up </button><br>
</form>
