<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
NAME: <input type="text" name="name">
EMAIL: <input type="text" name="email">
PASSWORD: <input type="text" name="password">
<input type="submit" value="Sign Up">
</form>