<h1>Sign Up Below:</h1>


<form method="POST" action='/registrations'>
  <label>Name<input name="name" type="text"/></label><br>
  <label>Email<input name="email" type="text"/></lable><br>
  <label>Password<input name="password" type="password"/></label><br>

  <input type="submit" value="Sign Up">
</form>
