<DOCTYPE! html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <style>
    body {
      margin-top:15%;
      text-align: center;
    }
    </style>
  </head>

  <body>
    <h1>Sign Up Below:</h1>
    <form method=POST action='/registrations'>
       Name: <input type="text" name="name"><br>
       Email: <input type="text" name="email"><br>
       Password: <input type="text" name="password"><br>
       <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
