<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>name: <input id="name" type="text" name="name"></p>
  <p>email: <input id="email" type="text" name="email"></p>
  <p>password: <input id="password" type="password" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
