<h1>Sign Up Below:</h1>


<form method="POST" action="/registrations">
<p>Name: <input type="text" name="name"></p>
<p>Email: <input type="text" name="email"></p>
<p>Password <input type="text" name="password"></p>

<input type="submit" name="submit" value="Sign Up">
</form>