<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <h2><label for="name"> Your Name:</label></h2>
  <input id="name" type="text" name="name"/>

  <h2><label for="email">Your E-Mail:</label></h2>
  <input id="email" type="text" name="email"/>

  <h2><label for="password">Your Password:</label></h2>
  <input id="password" type="password" name="password"/><br><br>

  <input id="submit" type="submit" name="submit" value="Sign Up"/>
</form>
