<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="submit" id="submit">
</form>
