<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    Name: <input type="text" name="name" value= "name">
    Email: <input type="text" name="email" value= "email">
    Password: <input type="text" name="password" value= "password">
    <input type="submit" id="Sign Up">
</form>
