<h1>Sign Up Below:</h1>
<form action='/registrations' method='POST' >
   Name<input id="name" type="text" name="name" />
    Email<input id="email" type="text" name="email">
     Password<input id="password" type="text" name="password">
     <input type="submit" value="Sign Up">

</form>


