<h1>Sign Up:</h1>
<form method="post" action="/registrations">
  <h3><label>Name</label></h3>
  <p><input type="text" name="name"></p>
  <h3><label>Email</label></h3>
  <p><input type="email" name="email"></p>
  <h3><label>Password</label></h3>
  <p><input type="password" name="password"></p>
  <input type="submit" value="Sign Up">
</form>