<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <h2>Name: <input type="text" name="name"></h2><br>
  <h2>Email: <input type="text" name="email"></h2><br>
  <h2>Password: <input type="text" name="password"></h2><br>
  <input type="submit" value="Sign Up">
</form>
