<h1>sign up below:</h1>

<form action='/registrations' method="POST">
  <input type="text" name="name" placeholder="name">
  <br/>
  <input type="text" name="email" placeholder="email">
  <br/>
  <label>password:</label>
  <br/>
  <input type="password" name="password">
  <br/>
  <input type="submit" value="Sign Up">
</form> 


