<h1>Sign Up Below:</h1>


<form method='POST' action='/registrations'>

      <p>Name:<p>
      <input type="text" name="name">

      <p>Email:<p>
      <input type=text name="email">
      <p>Password:<p>
      <input type=text name="password">
  <input type="submit" value="Sign Up">
</form>
