<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Email: <input type="text" name="email"></p>
  <p>Your password: <input type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
