<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<p>Name: <input type="text" name="name" id="name">
<p>Email: <input type="text" name="email" id="email">
<p>Password: <input type="text" name="password" id="password">
<p><input type="submit" name="Sign Up" id="Sign Up"></p>
</form>


