<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post"> <!-- posts to registrations -->
  <input type="text" name="name" value="name">
  <input type="text" name="email" value="email">
  <input type="text" name="password" value="password">
  <input type="submit" name="Sign Up" id="Sign Up" value="Sign Up">
</form>
