<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
	<p>User Name: <input type="text" name="name"></p>
	<p>User Email: <input type="text" name="email"></p>
	<p>User Password: <input type="password" name="password"></p>
	<input type="submit" id="Sign Up">
</form>
