<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="user_name">User Name:</label>
  <input id="user_name" type="text" name="name" placeholder="User Name">
  <label for="user_email">Email:</label>
  <input id="user_email" type="text" name="email" placeholder="User Email Address">
  <label for="user_pw">Password:</label>
  <input id="user_pw" type="text" name="password" placeholder="Pick something secure!">
  <input value="Sign Up" type="submit">
</form>
