<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
  </head>
  <body>
    <h1>Sign Up Below:</h1>
    <form class="" action="/registrations" method="post">
      <ul>
        <li>Name: <input type="text" name="name" value=""></li>
        <li>Email: <input type="text" name="email" value=""></li>
        <li>Password: <input type="text" name="password" value=""></li>
      </ul>
      <input type="submit" name="submit" value="Sign Up">
    </form>
  </body>
</html>
