<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up Below:</h1>
    <form action="/registrations" method="post">

      <p>Name: <input type="text" name="name"><br></p>

      <p>E-mail: <input type="text" name="email"><br></p>

      <p>Password: <input type="text" name="password"><br></p>

      <input type="submit" value="Sign Up">
    </form>

  </body>
</html>
