<h1>Sign Up Below:</h1>
<form action="/registrations" method=POST>
 Name:<input type="text" name="name" />
Email:<input type="text" name="email"/>
Password:<input type="password" name="password"/>
<input type="submit" name="Sign Up" value="Sign Up"/>
</form>
