<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Email:</label>
  <input type="text" name="email">
  <label>Password:</label>
  <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>
