<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <label> for="name">name</label>
   <input type="text" id="name" name="name"></input>
  <label> for="email">email</label>
   <input type="email" id="email" name="email"></input>
  <label> for="password">password</label>
   <input type="password" id="password" name="password"></input>
  <button type="submit" value="Sign Up"></button> 
</form>


