<h1>Sign Up Below:</h1>

<form action = "/registrations" method = "POST">
  <input type = "text" id = "name" name = "name">
  <input type = "text" id = "email" name = "email">
  <input type = "text" id = "password" name = "password">
  <input id = "Sign Up" type = "submit">
</form>
