<!DOCTYPE <html>
<head>
  <title>New User Signup</title>
</head>
<body>
  <h1>Sign Up</h1>

  <form action="/registrations" method="post">
    <h2>Name:<input type="text" name="name"></h2>
    <h2>Email:<input type="text" name="email"></h2> </h2>
    <h2>Password:<input type="text" name="password"></h2></h2>
    <button type="submit" name="submit">Sign Up</button>
  </form>

</body>
</html>