<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
   <label for="user_name">Name:</label><br>
   <input id="user_name" type="text" name="name"><br>
   <label for="user_email">Email:</label><br>
   <input id="user_email" type="text" name="email"><br>
   <label for="user_password">Password:</label><br>
   <input id="user_password" type="password" name="password"><br>
   <input type="submit" value="Sign Up">
 </form>
