<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <h3>Name: <input id="name" name="name" type="text"></h3>
  <h3>Email: <input id="email" name="email" type="email"></h3>
  <h3>Password: <input id="password" name="password" type="password"></h3>
  <input type="submit" value="Sign Up">
</form>
