<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations" name="signup">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" id="Sign Up">
</form>
  


