<h1>Sign Up Below:</h1>
 <form action="/registrations" method="post" id="form1">
      <p><label> Name: </label><input type="text" name="name"   id="name"></p>
      <p><label> Email: </label> <input type="text" name="email" id="email"></p>
      <p><label> Password: </label> <input type="text" name="password" id="password"></p>

 </form>

<button type="submit" form="form1" value="Sign Up">Sign Up</button>


