<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    <label for="user_name">Enter your name: </label>
    <input type="text" name="name" id="user_name">
    
    <label for="user_email">Enter you email: </label>
    <input type="text" name="email" id="user_email">

    <label for="user_password">Supa secret password: </label>
    <input type="password" name="password" id="user_password">

    <input type="submit" value="Sign Up">
</form>

