<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <p>Username: <input type="text" id="user_id" name="name"></p>
  <p>Password: <input type="password" id="user_password" name="password"></p>
  <p>Email: <input type="email" id="user_email" name="email"></p>
  <input type="submit" value="Sign Up">
</form>


