<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <h2>Name: <input type="text" name="name" value=""></h2>
  <h2>Email <input type="text" name="email" value="">  </h2>
  <h2>Password <input type="text"  name="password" value=""> </h2>
  <input type="submit" id="Sign Up" value="Sign Up">
</form>
