<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <h2><input type="text" name="email" value="email"></h2>
  <h2><input type="text" name="password" value="password"></h2>
  <input type="submit" id="submit" name="submit" value="">
</form>
