<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" value="your name">
  <input type="text" name="email" value="your email">
  <input type="password" name="password" value="choose a password">
  <input type="submit" value="Sign Up">
</form>
