<h1>Sign Up Below:</h1>

<form method='post' action='/registrations'>

  Name:<input type='text' name="name" value="name" id="name">
  Email:<input type='text' name="email" value="email" id="email">
  Password:<input type='text' name="password" value="password" id="password">

  <input type='submit' value='Sign Up'>
</form>
