<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  <h1> Name </h1>
  <input type="text" name="name">
  <br>
  <h1>Email</h1>
  <input type="text" name="email">
<br>
<h1>Password</h1>
  <input type="text" name="password">
  <input type="submit" value="Sign Up">

</form>
