<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">NAME:</label>
  <input type="text" name="name"><br>
  <label for="email">EMAIL:</label>
  <input type="text" name="email"><br>
  <label for="password">PASSWORD:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
