<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <input type="text" name="name"><br><br>
  <input type="email" name="email"><br><br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Sign Up">

</form>
