<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <label>Name: </label>
  <br>
  <input type="text" name="name" value="">
  <br>
  <label>Email: </label>
  <br>
  <input type="text" name="email" value="">
  <br>
  <label>Password: </label>
  <br>
  <input type="password" name="password" value="">
  <input type="submit" name="" value="Sign Up">
</form>
