<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <input type="text" name="name" placeholder="name" id="name">
  <input type="text" name="email" placeholder="email" id="email">
  <input type="text" name="password" placeholder="password" id="password">

  <input type="submit" value="Sign Up">
</form>
