<p style="color: red;">All fields must required!</p>

<form method="POST" action='/registrations'>
  <!--name-->
  <label for="name">name</label>
  <input id="name" type="text" name="name" required></input>
  
  <!--email-->
  <label for="email">email</label>
  <input id="email" type="email" name="email"></input>
  
  <!--password-->
  <label for="password">password</label>
  <input id="password" type="password" name="password"></input>
  
  <!--submit-->
  <input type="submit" value="submit">
</form>
