<h1>Sign Up Below:</h1>

<form action= "/registrations" method="POST">
  <p><label for="name">Name:</label> <input type="text" name="name">
<p><label for="email">Email:</label> <input type="text" name="email" id="email">
<p><label for="password">Password:</label> <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>
