<h1>Sign Up Below:</h1>
  <form method="post" action="/registrations">
    <tag>Name:<input type="text" name="name"></tag>
    <tag>Email:<input type="text" name="email"></tag>
    <tag>Password:<input type="password" name="password"></tag>
    <input type="submit" value="Sign Up">
  </form>
