<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
    <p>User Name: </p><input type="text" name="name">
    <p>Email Address: </p><input type="text" name="email">
    <p>Password: </p><input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>

