<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <p>Email:</p>
    <textarea id="email" name="email"></textarea><br>
    <p>Name:</p>
    <textarea id="name" name="name"></textarea><br>
    <p>Password</p>
    <textarea id="password" name="password"></textarea><br>

    

   <button type="submit" value="Sign Up">Submit</button>
 
  </form>

