<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
<p>Name:<input type="text" name="name" id="name"></p>
<p>Email:<input type="text" name="email" id="email"></p>
<p>Password:<input type="text" name="password" id="password"></p>
<p><button type="submit" value="submit">Sign Up</button></p>
