<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p>User Name: <input id="name" type="text" name="name"></p>
  <p>Email: <input id="email" type="email" name="email"></p>
  <p>New Password: <input id="password" type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>