<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
<h4>Name: <input type="text" name="name"></h4><br>
<h4>Email: <input type="text" name="email"></h4><br>
<h4>Password: <input type="text" name="password"></h4><br>
<input type="submit" value="Sign Up">

</form>


