<h1>Sign Up Below:</h1>

<!-- Signup Form; includes name, email, and password -->
<!-- POST to /registrations -->
<form method="POST" action="/registrations">
  <p><label for="name">Name: </label><input type="text" name="name" id="name"></p>
  <p><label for="email">Email: </label><input type="text" name="email" id="email"></p>
  <p><label for="password">Password: </label> <input type="text" name="password" id="password"></p>
  <input type="submit" value="Sign Up" id="submit">
</form>
