<!DOCTYPE html>
<html>
<head>
  <title>SIGN UP</title>
</head>
  <body>
    <h1>Sign Up Below:</h1>
    <form action="/registrations" method="POST">
      <h2>Name: </h2>
      <input type="text" name="name">

      <h2>Email: </h2>
      <input type="text" name="email">

      <h2>Password: </h2>
      <input type="text" name="password">
      <br>
      <br>    
      <input type="submit" content="Sign Up" id="Sign Up">
    </form>
  </body>
</html>


