<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
  <p>name: <input type='text' name='name'></input></p>
  <p>email: <input type='text' name='email'></input></p>
  <p>password: <input type='text' name='password'></input></p>
  <button type='submit' value='sign_up'>Sign Up</button>
</form>


