<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <li> Name: <input type="text" name="name"></li><br>
    <li> Email: <input type="text" name="email"></li><br>
    <li> Password: <input type="text" name="password"></li><br>
    <input type="submit" value="Sign Up">
  </form>
