<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <label name='name' id='name'>Name: </label><input type='text' name='name' id='name' /><br />
  <label name='email' id='email'>Email: </label><input type='text' name='email' id='email' /><br />
  <label name='password' id='password'>Password: </label><input type='text' name='password' id='password' /><br />
  <input type='submit' name='Sign Up' id='Sign Up' />
</form>
