
<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <input type="text" name="name" value="Name"><br>
  <input type="text" name="email" value="Email"><br>
  <input type="text" name="password" value="Password"><br>
  
  <button type="submit" value="submit">Sign Up</button>
</form>
