<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  Enter name: <input type="text" name="name">
  Enter email: <input type="text" name="email">
  Enter password: <input type="text" name="password">
  <input type="submit" id="submit" value="Sign Up">
</form>
