<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <input type="text" id ="name" name="name">
  <input type="text" id="email" name="email">
  <input type="text" id="password" onchange=""name="password">
  <input id="Sign Up" type="submit" value="Sign Up">
</form>
