<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
  <p><label for="name">User Name:</label><br>
  <input type="text" name="name"></p><br>
  <p><label for="email">User Email:</label><br>
  <input type="text" name="email"></p><br>
  <p><label for="password">User Password:</label><br>
  <input type="text" name="password"></p><br>
  <button type="submit">Sign Up</button><br>
</form>
