<h1>sign up below:</h1>
<h2>Sign Up</h2>
<form method="post" action="/registrations">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="submit" id="Sign Up">
</form>