<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <label>name</label>
  <br/>
  <input type="text" name="name">
  <label>email</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
