<h1>Sign Up Below:</h1>

 <form action="/registrations" method="post">
   Name: <br><input type="text" name="name"><br>
   Email: <br><input type="text" name="email"><br>
   Password: <br><input type="text" name="password"><br>
   <br><input type="submit" value="Sign Up">
 </form>
