<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  Name: <input type="text" value="name" name="name">
  Email: <input type="text" value="email" name="email"><br>
  Password: <input type="text" value="password" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
