<h1>Sign Up Below:</h1>

<form class="sign_up" action="/registrations" method="post">
  <li>Name: <input type="text" id="name" name="name"></li>
  <li>Email: <input type="text" id="email" name="email"></li>
  <li>Password: <input type="password" id="password" name="password"></li>
  <input type="submit" value="Sign Up">
</form>
