<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <label>Name: <input type="text" name="name" value=""></label>
  <br>
  <label>Email: <input type="text" name="email" value=""></label>
  <br>
  <label>Password: <input type="text" name="password" value=""></label>
  <br>
  <input type="submit" value="Sign Up">

</form>
