<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <ul>
    <li>NAME: <input type="text" name="name" value="name"></li>
    <li>EMAIL: <input type="text" name="email" value="email"></li>
    <li>PASSWORD: <input type="text" name="password" value="password"></li>
    <li><input type="submit" value="Sign Up"></li>
  </ul>
</form>
