<h1>Sign Up Below:</h1>
<form method="POST" action="/sessions">	
	<label for="name">Name: </label>
	<input id='name' type="text" name='user[name]' %><br>
	
	<label for="email">eMail: </label>	
	<input id='email' type="text" name='user[email]' %><br>
	
	<label for="password">Password: </label>	
	<input id='password' type="text" name="user[password]" %><br>	
	
	<input id='Sign Up' type='submit' value='Sign Up'>
</form>

