<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <label>Name</label><br>
  <input type="text" name="name"> <br><br>
  <label>E-mail</label><br>
  <input type="text" name="email"><br><br>
  <label>Password</label><br>
  <input type="password" name="password"><br><br>

  <input type="submit" value="Sign Up">
</form>
