<h1>Sign Up Below:</h1>
<form method="post" action="/registrations" >
user Name <input type ="text" name="name" id="name"/>
user email <input type ="text" name="email" id="email"/>
user password <input type ="text" name="password" id="password"/>
<input type="submit" name="Sign Up" value="Sign Up"/>
</form>
