<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" id="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Sign Up">
</form>
