<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
	<p>Name</p><br>
	<input type="text" name="name">
	<p>E-Mail</p><br>
	<input type="text" name="email">
	<p>Password</p><br>
	<input type="text" name="password">
	<input type="submit" value="Sign Up">
</form>

