<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <label for="user_name">User:</label>
  <input id="user_name" name="name" type="text"><br>
  <label for="user_email">Email:</label>
  <input id="user_email" name="email" type="text"><br>
  <label for="user_password">Password:</label>
  <input id="user_password" name="password" type="password" ><br>
  <input type="submit" value="Sign Up">
</form>
