<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <p>name: <input type="text" name="name" value=""></p>
  <p>email: <input type="text" name="email" value=""></p>
  <p>password: <input type="text" name="password" value=""></p>
  <input type="submit"  value="Sign Up">
</form>
