<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <input type="text" name="name">Name</input><br>
  <input type="text" name="email"></input>Email<br>
  <input type="text" name="password"></input>Password<br>
  <input type="submit" value="Sign Up"></input>
</form>

