<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <h2>Name: <input type="text" name="name" value="" id="name"></h2>
  <h2>E-Mail: <input type="text" name="email" value="" id="email"></h2>
  <h2>Password: <input type="text" name="password" value="" id="password"></h2>
  <input type="submit" name="" value="Sign Up" id="submit">
</form>
