<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p>Name: <input id="name" type="text" name="name">
  <p>Email: <input id="email" type="text" name="email">
  <p>Password: <input id="password" type="text" name="password">
  <p><input type="submit" value="submit">
</form>
