<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">name: </label>
  <input type="text" id="name" name="name">

  <label for="email">email: </label>
  <input type="text" id="email" name="email">

  <label for="password">password:</label>
  <input type="text" id="password" name="password">

  <input type="submit" value="Sign Up">
</form>
