<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>Name: </p><input type="text" name="name">
  <p>User Name: </p><input type="text" name="email">
  <p>Password: </p><input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
