<h1>Sign Up!</h1>

<form action='/registrations' method="POST">
  <label>name</label>
  <br/>
  <input type="text" name="user[name]"> 
  <label>email</label>
  <br/>
  <input type="text" name="user[email]">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="user[password]">
  <input type="submit" value="Sign Up">
</form> 

