<h1>Sign Up Below:</h1>

<form class="sign_up" action="/registrations" method="post">
  <label>Name: <input type="text" name="name" id="name"></label>
  <label>Email: <input type="text" name="email" id="email"></label>
  <label>Password: <input type="text" name="password" id="password"></label>
  <input type="submit" name="submit" value="Sign Up" id="submit">
</form>
