<h1>Sign Up Below:</h1>
<form action='/registrations' method="post">
	<label for="name">Your name</label>
  	<input type="string" name="name">
  
  	<label for="email">Your email</label>
  	<input type="string" name="email">

  	<label for="password">Your password</label>
  	<input type="text" name="password">

  	<input type="submit" value="Sign Up">
  	<input type="Sign Up" value="submit">
</form>


