<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  </html><h1><em>Sign Up Below:</em></h1>

  <form action="/registrations" method="post">
    <input type="text" name="name" placeholder="Name" style="margin:5px"><br>
    <input type="password" name="password" placeholder="Password" style="margin:5px"><br>
    <input type="email" name="email" placeholder="Email" style="margin:5px"><br>
    <input type="submit" value="Sign Up">
  </form>
</body>