<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
<!-- puts params inside the "post '/registrations' route" -->

  <label> name </label>
  <input type="text" name="name">
  <label> email </label>
  <input type="text" name="email">
  <label> password </label>
  <input type="text" name="password">

  <input type="submit" value="Sign Up">
</form>


