<h1>sign up below:</h1>

<form method="post" action="/registrations">
	Name:<input type="text" name="name">	
	Email:<input type="text" name="email">
	Password:<input type="text" name="password">
	<input type="submit" value="Sign Up" name="submit">
</form>


