<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <label>Name:<input method="text" name="name"></label>
  <label>Email:<input method="text" name="email"></label>
  <label>Password:<input method="text" name="password"></label>
  <input type="submit" value="Sign Up">
</form>
