<h1>Sign Up Below:</h1>
<p>
  <form action="/registrations" method="post">
    <input type="text" size="35" name="name"     placeholder="Enter name"/><br>
    <input type="text" size="35" name="email"    placeholder="Enter email"/><br>
    <input type="text" size="35" name="password" placeholder="Enter password"/><br>
    <input type="submit" value="Sign Up"/>
  </form>
</p>
