<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post"><br>
  Name: <input type="text" name="name" value=""><br>
  email: <input type="text" name="email" value=""><br>
  Password: <input type="password" name="password" value="">
  <input type="submit" name="" value="Sign Up">
</form>
