<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">
  <input type="text" name="name" value="name"></br>
  <input type="email" name="email" id="email" value="email"></br>
  <input type="password" name="password" value="password" id="password"></br>
  <input type="submit" id="Sign Up" value="Sign Up">
</form>