<form action='/registrations' method="POST">
<h1>Sign Up Below:</h1>

<label for="name">name</label>

<input  type="text" name="name" /><br>


<label for="email">email</label>
<input  type="text" name="email" /><br>


<label for="password">password</label>
<input  type="password" name="password" /><br>


<input type="submit" value="Sign Up">



</form>
