<h1>Sign Up Below:</h1>

<form method="POST" action='/registrations'>
  <!--name-->
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" required></input>
  
  <!--email-->
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" required></input>
  
  <!--password-->
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" required></input>
  
  <!--submit-->
  <input type="submit" value="Sign Up">
</form>
