<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">

  <label> Name: <input type="text" name="name" id="name">
  <label> Email: <input type="text" name="email" id="email">
  <label> Password: <input type="text" name="password" id="password">
  <input type="submit" name="Sign Up" value="Sign Up">
</form>
