<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>E-mail: <input id="email" type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <input id="Sign Up" type="submit" value="Sign Up">
</form>
