<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <h3>Name: <input type="text" id="name" name="name"></h3>
  <h3>email: <input type="text" id="email" name="email"></h3>
  <h3>Password: <input type="text" id="password" name="password"></h3>
  <input type="submit" name="submit" value="Sign Up">
</form>
