<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <input id="name" type="text" name="name" placeholder="Name"></input><br><br>
  <input id="email" type="text" name="email" placeholder="Email"></input><br><br>
  <input id="password" type="text" name="password" placeholder="Password"></input><br><br>
  <input id="Sign Up" type="submit"></input>
</form>
