<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>Your name: <input type="text" name="name" ></p>
  <p>Your email: <input type="text" name="email" ></p>
  <p>Your password: <input type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
