<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <div id="register_login" class="enter">
    <h1>Sign Up below:</h1>
    <form method = "post" name = "signup" action ="/registrations">
      <h3>Username</h3>
      <input type="text" name="name" value="Username">
      <br>
      <h3>E-mail</h3>
      <input type="text" name="email" value="E-mail">
      <br>
      <h3>Password</h3>
      <input type="password" name="password">
      <br>
      <button type ="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>


