<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p>Name: <input type="text" name="name"></p>
  <p>E-Mail: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input id="submit" type="submit" value="Sign Up">
</form>

