<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    Name: <input type="input" name="name" value="name">
    Email: <input type="input" name="email" value="email">
    Password: <input type="input" name="password" value="password">
    <input type="submit" name="submit" value="Sign Up">
</form>
