<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <p>Username: <input type="text" name="name" value=""></p>
  <p>Email: <input type="text" name="email" value=""></p>
  <p>Password: <input type="password" name="password" value=""></p>
<input type="submit" name="submit" value="Sign Up">
</form>
