<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
<!-- <form class="" action="/sessions/login" method="post">
  <button type="submit" name="button">Sign In</button>
<!-- </form> -->

  <!-- <form class="" action="/registrations/signup" method="post">
    <button type="submit" name="button">Sign Up</button>
  </form> -->

</body>

</html>
