<DOCTYPE! html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <style>
    body {
      margin-top:15%;
      text-align: center;
    }
    </style>
  </head>

  <body>
    <h1>Welcome to Hogwarts</h1>
    <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
    <a href="/registrations/signup">Sign Up</a>
    <a href="/sessions/login">Log In</a>

  </body>
</html>
