<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <p><a href="/registrations/signup"><button type="button" name = "Sign Up" value = "Sign Up">Sign Up</button></a></p>
  <a href="/sessions/login"><button type="button" name = "Log In" value = "Log In">Log In</a>

</body>

</html>
