<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <form action="/sessions/login">
    <input type="submit" value="Log In" id="Log In">
  </form>
  <form action="/registrations/signup">
    <input type="submit" value="Sign Up" id="Sign Up">
  </form>
  <a href="/registrations/signup" id="Sign Up"x>Sign Up</a>
  <a href="/sessions/login" id="Sign Up">Log In</a>

</body>

</html>
