<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  
  


<%#<form method = "get" action = "/sessions/login">
<input type = "submit" value = "Log In" name="Log In" id="Log In">
</form>

<form method = "get" action = "/registrations/signup">
<input type = "submit" value = "Sign Up" name="Sign Up" id="Sign Up">
</form>%>

<%#<a href="/registrations/signup" id = "Sign Up">Sign Up</a>%>

<%#<form method ="get" action ="/sessions/login">
<input type ="submit" value="Log In">
</form>

<form method ="get" action ="/registrations/signup">
<input type ="submit" value="Sign Up">%>

  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
</form>

</body>

</html>
